@import "vendor/normalize.css";
@import "vendor/jqia-slick-nav.css";
@import "vendor/font-awesome/all.css";
html {
  font-family: "Montserrat";
  color: #414141;
  background: url("../img/background/bg2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 770px) {
  body {
    margin-top: 56px;
  }
}
@media screen and (max-width: 270px) {
  body {
    margin-top: 40px;
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  line-height: 25px;
}

h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul.nav-links-container {
  text-transform: uppercase;
}

.white-nav-bar {
  background-color: #0c3958;
}

.black-nav-bar {
  background-color: #f0f0f0;
}

.rotate-bolt {
  transform: rotate(-180deg);
}

div.fix-bolt {
  position: absolute;
}
div.fix-bolt.top-right {
  top: 0;
  right: 0;
}
div.fix-bolt.top-left {
  top: 0;
  left: 0;
}
div.fix-bolt.bot-right {
  bottom: 0;
  left: 0;
}
div.fix-bolt.bot-left {
  bottom: 0;
  right: 0;
}
div.fix-bolt.top-middle {
  top: -30px;
  left: 45%;
}
div.fix-bolt.bottom-middle {
  bottom: 0;
  left: 40%;
}

header {
  background-color: #0c3958;
  padding: 5px 0;
}
@media screen and (max-width: 770px) {
  header {
    display: none;
  }
}
header div.header-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  header div.header-container {
    width: 970px;
  }
}
@media screen and (max-width: 990px) {
  header div.header-container {
    width: 750px;
  }
}
@media screen and (max-width: 770px) {
  header div.header-container {
    width: 95%;
  }
}
@media screen and (max-width: 530px) {
  header div.header-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 990px) {
  header div.header-container div.logo a img {
    width: 160px;
  }
}
header div.header-container div.contact-header {
  color: white;
}
@media screen and (max-width: 530px) {
  header div.header-container div.contact-header {
    margin: 15px 0;
  }
}

footer {
  background-color: #0c3958;
  color: white;
}
footer div.footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  footer div.footer-container {
    width: 970px;
    flex-direction: column;
  }
}
@media screen and (max-width: 990px) {
  footer div.footer-container {
    width: 750px;
  }
}
@media screen and (max-width: 990px) {
  footer div.footer-container {
    width: 95%;
  }
}
@media screen and (max-width: 380px) {
  footer div.footer-container {
    width: 100%;
  }
}
footer div.footer-container div.icon {
  margin-bottom: 25px;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.footer-container div.icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c3958;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
footer div.footer-container h4 {
  font-size: 1.5em;
}
footer div.footer-container h5 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 10px;
}
footer div.footer-container p, footer div.footer-container address {
  font-size: 1em;
  font-weight: bold;
}
footer div.footer-container > div {
  display: flex;
  width: 50%;
}
footer div.footer-container > div > div {
  padding: 30px 10px;
}
@media screen and (max-width: 990px) {
  footer div.footer-container > div > div {
    padding: 30px 0;
  }
}
footer div.footer-container div.contact-heures {
  text-align: center;
  position: relative;
  display: flex;
  width: 60%;
}
@media screen and (max-width: 1200px) {
  footer div.footer-container div.contact-heures {
    width: 95%;
    flex-direction: column;
  }
}
@media screen and (max-width: 990px) {
  footer div.footer-container div.contact-heures {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  footer div.footer-container div.contact-heures {
    width: 100%;
  }
}
footer div.footer-container div.contact-heures div.contact {
  width: 50%;
  padding-right: 70px;
  background-color: #ef3739;
}
@media screen and (max-width: 990px) {
  footer div.footer-container div.contact-heures div.contact {
    width: 90%;
    margin-top: 40px;
    padding-right: 0;
  }
}
@media screen and (max-width: 380px) {
  footer div.footer-container div.contact-heures div.contact {
    width: 100%;
    margin-top: 0;
  }
}
footer div.footer-container div.contact-heures div.contact *::selection {
  background: #0c3958;
}
footer div.footer-container div.contact-heures div.contact div.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer div.footer-container div.contact-heures div.contact div.container > div {
  padding: 10px 15px;
}
footer div.footer-container div.contact-heures div.contact div.container div.adress {
  grid-column: 1/span 2;
  grid-row: 1;
  border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
  margin-bottom: 20px;
}
footer div.footer-container div.contact-heures div.contact div.container div.phone {
  grid-column: 1/span 1;
  grid-row: 2;
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
}
@media screen and (max-width: 380px) {
  footer div.footer-container div.contact-heures div.contact div.container div.phone {
    grid-column: 1/span 2;
    border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
    border-right: none;
  }
}
footer div.footer-container div.contact-heures div.contact div.container div.fax {
  grid-column: 2/span 1;
  grid-row: 2;
}
@media screen and (max-width: 380px) {
  footer div.footer-container div.contact-heures div.contact div.container div.fax {
    grid-column: 1/span 2;
    grid-row: 3;
  }
}
footer div.footer-container div.contact-heures div.contact div.container div.email {
  grid-column: 1/span 2;
  grid-row: 4;
  margin-top: 20px;
  border-top: rgba(255, 255, 255, 0.5) solid 1px;
}
footer div.footer-container div.contact-heures div.heures {
  background: url("../img/background/5.jpg") center;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.1), -1px -1px 15px 15px rgba(0, 0, 0, 0.1);
  width: 40%;
  float: left;
  margin-left: -5%;
  height: 68%;
  align-self: center;
  position: absolute;
  width: 300px;
  right: 0;
}
@media screen and (max-width: 990px) {
  footer div.footer-container div.contact-heures div.heures {
    position: relative;
    margin-left: 0;
    height: auto;
    width: 80%;
    margin-top: 40px;
  }
}
footer div.footer-container div.contact-heures div.heures div.icon i {
  background-color: #a3a2c7;
  color: #0c3958;
}
footer div.footer-container div.contact-heures div.heures h4 {
  margin: 0 0 0 20px;
}
footer div.footer-container div.contact-heures div.heures p {
  font-size: 1.6em;
  margin-bottom: 10px;
}
@media screen and (max-width: 300px) {
  footer div.footer-container div.contact-heures div.heures p {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 300px) {
  footer div.footer-container div.contact-heures div.heures h4 {
    font-size: 1em;
    margin: 0;
  }
}
footer div.footer-container div.contact-heures div.heures div.main-hours {
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
  width: 80%;
}
footer div.footer-container div.plan-media {
  display: flex;
  width: 40%;
}
@media screen and (max-width: 1200px) {
  footer div.footer-container div.plan-media {
    width: 95%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 990px) {
  footer div.footer-container div.plan-media {
    flex-direction: column;
    align-items: center;
  }
}
footer div.footer-container div.plan-media div.plan {
  width: 62%;
  padding-left: 50px;
}
@media screen and (max-width: 990px) {
  footer div.footer-container div.plan-media div.plan {
    width: 80%;
    padding-left: 0;
  }
}
footer div.footer-container div.plan-media div.plan h4 {
  margin-bottom: 20px;
}
@media screen and (max-width: 280px) {
  footer div.footer-container div.plan-media div.plan h4 {
    font-size: 1em;
  }
}
footer div.footer-container div.plan-media div.plan ul {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer div.footer-container div.plan-media div.plan ul li {
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 15px;
}
footer div.footer-container div.plan-media div.plan ul li:hover i, footer div.footer-container div.plan-media div.plan ul li:hover a {
  color: #ef3739;
}
footer div.footer-container div.plan-media div.plan ul li i {
  margin-right: 10px;
  transition: color 0.5s;
}
footer div.footer-container div.plan-media div.plan ul li a {
  color: #a3a2c7;
  font-weight: bold;
  transition: color 0.5s;
}
@media screen and (max-width: 280px) {
  footer div.footer-container div.plan-media div.plan ul li a {
    font-size: 0.9em;
  }
}
footer div.footer-container div.plan-media div.logo-media {
  width: 198px;
}
@media screen and (max-width: 280px) {
  footer div.footer-container div.plan-media div.logo-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer div.footer-container div.plan-media div.logo-media div.logo {
  margin-bottom: 35px;
}
@media screen and (max-width: 280px) {
  footer div.footer-container div.plan-media div.logo-media div.logo {
    width: 120px;
  }
}
footer div.footer-container div.plan-media div.logo-media div.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 45px 0;
  background: url("../img/background/5.jpg") center;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.1), -1px -1px 15px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 280px) {
  footer div.footer-container div.plan-media div.logo-media div.media {
    width: 95%;
  }
}
footer div.footer-container div.plan-media div.logo-media div.media a {
  color: #0c3958;
  background-color: #a3a2c7;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 50%;
  transition: color 0.5s, background-color 0.5s;
}
footer div.footer-container div.plan-media div.logo-media div.media a:hover {
  color: white;
  background-color: #ef3739;
}
footer div.footer-container div.plan-media div.logo-media div.media div.fix-bolt.top-middle {
  top: 0;
  left: 40%;
}

.hide {
  display: none;
}

div.scroll-up {
  width: 40px;
  height: 40px;
  background-color: #ef3739;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
  border: white solid 1px;
  cursor: pointer;
}
div.scroll-up i {
  color: white;
}

.translate-in {
  transform: translateY(100%);
}

nav {
  display: flex;
}
@media screen and (max-width: 770px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
}
nav div.nav-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
nav div.nav-container a.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 990px) {
  nav div.nav-container a.logo img {
    width: 160px;
  }
}
@media screen and (max-width: 770px) {
  nav div.nav-container a.logo img {
    width: 140px;
  }
}
@media screen and (max-width: 270px) {
  nav div.nav-container a.logo img {
    width: 100px;
  }
}
@media screen and (max-width: 1200px) {
  nav div.nav-container {
    width: 970px;
  }
}
@media screen and (max-width: 990px) {
  nav div.nav-container {
    width: 750px;
  }
}
@media screen and (max-width: 770px) {
  nav div.nav-container {
    width: 100%;
  }
}
nav div.nav-container ul {
  display: flex;
}
@media screen and (max-width: 770px) {
  nav div.nav-container ul {
    display: none;
  }
}
nav div.nav-container ul li {
  display: flex;
}
nav div.nav-container ul li.drop-down-p {
  position: relative;
}
nav div.nav-container ul li.drop-down-p img.drop-down-bolt {
  position: absolute;
  transition: transform 0.5s;
}
nav div.nav-container ul li.drop-down-p img.right {
  right: 0;
}
nav div.nav-container ul li.drop-down-p img.left {
  left: 0;
}
nav div.nav-container ul li a {
  color: white;
  width: 160px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.5s;
}
nav div.nav-container ul li a.selected {
  background-color: #ef3739;
}
nav div.nav-container ul li a:hover {
  background-color: #ef3739;
}
@media screen and (max-width: 990px) {
  nav div.nav-container ul li a {
    font-size: 0.9em;
    width: 120px;
  }
}
nav div.nav-container ul.drop-down-list {
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: -10px;
  background-color: #0c3958;
}
nav div.nav-container ul.drop-down-list li a {
  width: 160px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 990px) {
  nav div.nav-container ul.drop-down-list li a {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 990px) {
  nav div.nav-container ul.drop-down-list li a img {
    width: 30px;
  }
}

div.main {
  padding: 60px 0;
}
div.main h2 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 60px;
}
@media screen and (max-width: 500px) {
  div.main h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 400px) {
  div.main h2 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 320px) {
  div.main h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 250px) {
  div.main h2 {
    font-size: 1.5em;
  }
}
div.main div.small-screen-categories {
  background-color: #0c3958;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 350px) {
  div.main div.small-screen-categories {
    width: 95%;
  }
}
div.main div.small-screen-categories div.title {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  cursor: pointer;
}
div.main div.small-screen-categories div.title h4 {
  text-align: center;
  font-size: 1.2em;
  padding: 5px 0;
  color: white;
}
div.main div.small-screen-categories div.title span {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.main div.small-screen-categories div.title span i {
  color: white;
}
div.main div.small-screen-categories ul li a {
  color: white;
  padding: 5px 0;
  text-align: center;
  display: block;
}
div.main div.small-screen-categories ul li a:hover {
  background-color: #ef3739;
}
div.main div.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  div.main div.container {
    width: 970px;
  }
}
@media screen and (max-width: 990px) {
  div.main div.container {
    width: 750px;
  }
}
@media screen and (max-width: 770px) {
  div.main div.container {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
div.main div.container div.products {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(auto-fit);
}
@media screen and (max-width: 1200px) {
  div.main div.container div.products {
    grid-template-columns: repeat(2, 260px);
  }
}
@media screen and (max-width: 990px) {
  div.main div.container div.products {
    grid-template-columns: repeat(2, 200px);
  }
}
@media screen and (max-width: 770px) {
  div.main div.container div.products {
    width: 95%;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 30px;
    margin-bottom: 60px;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  div.main div.container div.products {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 340px) {
  div.main div.container div.products {
    display: flex;
    flex-direction: column;
  }
}
div.main div.container div.products div.product-item {
  border: rgba(0, 0, 0, 0.2) solid 1px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: border-color 0.5s;
}
@media screen and (max-width: 990px) {
  div.main div.container div.products div.product-item {
    padding: 10px 5px;
  }
}
@media screen and (max-width: 340px) {
  div.main div.container div.products div.product-item {
    width: 90%;
    margin-bottom: 20px;
  }
}
div.main div.container div.products div.product-item:hover {
  border-color: black;
}
div.main div.container div.products div.product-item:hover div.detail-layer {
  transform: translateY(-100%);
}
div.main div.container div.products div.product-item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 990px) {
  div.main div.container div.products div.product-item a div.product-pic img {
    width: 100%;
  }
}
div.main div.container div.products div.product-item a p.product-name {
  text-align: center;
  color: #242424;
  font-weight: bold;
  word-wrap: break-word;
  width: 218px;
  text-align: center;
}
@media screen and (max-width: 990px) {
  div.main div.container div.products div.product-item a p.product-name {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  div.main div.container div.products div.product-item a p.product-name {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 340px) {
  div.main div.container div.products div.product-item a p.product-name {
    font-size: 1em;
  }
}
div.main div.container div.products div.product-item a div.detail-layer {
  color: white;
  position: absolute;
  left: 0;
  top: 100%;
  text-align: center;
  padding: 17px 0;
  width: 100%;
  background-color: #0c3958;
  transition: transform 0.5s;
}
div.main div.container div.categories {
  background-color: #0c3958;
  color: white;
  flex: 0.9;
  padding-top: 30px;
}
@media screen and (max-width: 770px) {
  div.main div.container div.categories {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  div.main div.container div.categories {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  div.main div.container div.categories {
    width: 100%;
  }
}
div.main div.container div.categories h4 {
  font-size: 1.4em;
  margin-bottom: 25px;
  margin-left: 20px;
}
div.main div.container div.categories ul li {
  border-bottom: white solid 1px;
}
div.main div.container div.categories ul li:first-child a {
  border-top: white solid 1px;
}
div.main div.container div.categories ul li a {
  color: white;
  display: flex;
  font-weight: bold;
  transition: background-color 0.5s;
  align-items: center;
  padding: 15px 20px;
}
@media screen and (max-width: 340px) {
  div.main div.container div.categories ul li a {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 250px) {
  div.main div.container div.categories ul li a {
    font-size: 0.8em;
  }
}
div.main div.container div.categories ul li a:hover {
  background-color: #ef3739;
}
div.main div.container div.categories ul li a.selected {
  background-color: #ef3739;
}
div.main div.container div.categories ul li a img {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin-right: 20px;
}

/*# sourceMappingURL=produits.css.map */
