/**********************************************************************************/
* {
  margin: 0; }

body {
  color: #414141;
  font-family: "open sans"; }

a {
  color: #414141;
  text-decoration: none; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding-left: 0; }

.user-button {
  border: inherit solid 1px;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  transition: background-color .5s;
  margin: 0 5px; }
  .user-button a {
    padding: 6px 0;
    display: block;
    color: white;
    transition: color .5s; }
  @media screen and (max-width: 600px) {
    .user-button {
      width: 100px; }
      .user-button a {
        padding: 5px 0; } }

/**********************************************************************************/
header nav {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: 1px 0 5px 5px rgba(150, 150, 150, 0.5); }
  header nav div.nav-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 500px) {
      header nav div.nav-container {
        flex-direction: column; } }
    @media screen and (max-width: 500px) {
      header nav div.nav-container div.logo-container {
        margin-bottom: 10px; } }
    @media screen and (max-width: 600px) {
      header nav div.nav-container div.logo-container img {
        width: 150px; } }
    header nav div.nav-container div.login-container {
      display: flex; }
      header nav div.nav-container div.login-container div.login-button {
        background-color: #96a4a4;
        border: #96a4a4 solid 1px; }
        header nav div.nav-container div.login-container div.login-button:hover {
          background-color: white; }
          header nav div.nav-container div.login-container div.login-button:hover a {
            color: #414141; }
      header nav div.nav-container div.login-container div.signup-button {
        background-color: #00bcd4;
        border: #00bcd4 solid 1px; }
        header nav div.nav-container div.login-container div.signup-button:hover {
          background-color: white; }
          header nav div.nav-container div.login-container div.signup-button:hover a {
            color: #414141; }

div.main-section {
  margin-top: 62px;
  padding: 60px 0; }
  div.main-section div.blog-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
    @media screen and (max-width: 1200px) {
      div.main-section div.blog-container {
        width: 970px; } }
    @media screen and (max-width: 990px) {
      div.main-section div.blog-container {
        width: 750px;
        flex-direction: column-reverse; } }
    @media screen and (max-width: 770px) {
      div.main-section div.blog-container {
        width: 95%; } }
    div.main-section div.blog-container aside {
      width: 28%;
      margin-right: 15px; }
      @media screen and (max-width: 990px) {
        div.main-section div.blog-container aside {
          width: 100%; } }
      div.main-section div.blog-container aside > :not(:last-child) {
        margin-bottom: 30px; }
      div.main-section div.blog-container aside h4 {
        margin-bottom: 20px;
        font-size: 1em;
        border-bottom: rgba(150, 150, 150, 0.3) solid 1px;
        padding: 5px 0; }
      div.main-section div.blog-container aside div.search-container {
        width: 100%; }
        div.main-section div.blog-container aside div.search-container input {
          width: calc(100% - 27px);
          padding: .5em 12px;
          font-size: .92em;
          font-family: "Montserrat";
          border: rgba(150, 150, 150, 0.5) solid 1px;
          border-radius: 4px;
          transition: border-color .3s,box-shadow .3s; }
          div.main-section div.blog-container aside div.search-container input:focus {
            border-color: #00bcd4;
            outline: none;
            box-shadow: 1px 1px 5px 1px rgba(150, 150, 150, 0.3), -1px -1px 5px 1px rgba(150, 150, 150, 0.3); }
          div.main-section div.blog-container aside div.search-container input::placeholder {
            opacity: .6; }
      div.main-section div.blog-container aside div.categories-count-container ul.categories-count {
        font-weight: 100;
        font-size: .95em; }
        @media screen and (max-width: 400px) {
          div.main-section div.blog-container aside div.categories-count-container ul.categories-count {
            font-size: .9em; } }
        div.main-section div.blog-container aside div.categories-count-container ul.categories-count li.category-count {
          margin-bottom: 15px; }
          div.main-section div.blog-container aside div.categories-count-container ul.categories-count li.category-count a {
            transition: color .3s; }
            div.main-section div.blog-container aside div.categories-count-container ul.categories-count li.category-count a:hover {
              color: #00bcd4; }
      div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item {
        margin-bottom: 20px;
        display: flex; }
        div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-img {
          margin-right: 15px;
          display: flex;
          align-items: center; }
          div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-img a {
            width: 65px; }
            div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-img a img {
              border: black solid 1px;
              vertical-align: middle; }
        div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-caption {
          width: 250px; }
          div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-caption h5 {
            font-size: 1em; }
            @media screen and (max-width: 500px) {
              div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-caption h5 {
                font-size: .85em; } }
          div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-caption p {
            font-size: .9em; }
            @media screen and (max-width: 500px) {
              div.main-section div.blog-container aside div.latest-posts-container div.latest-posts div.latest-post-item div.latest-post-caption p {
                font-size: .8em; } }
      div.main-section div.blog-container aside div.latest-tags-container div.latest-tags {
        display: flex;
        flex-wrap: wrap; }
        div.main-section div.blog-container aside div.latest-tags-container div.latest-tags div.latest-tag-item {
          margin: 5px; }
          div.main-section div.blog-container aside div.latest-tags-container div.latest-tags div.latest-tag-item a {
            display: inline-block;
            transition: background-color .3s;
            font-size: .95em;
            padding: 5px 10px;
            background-color: #e6e6e6; }
            div.main-section div.blog-container aside div.latest-tags-container div.latest-tags div.latest-tag-item a:hover {
              background-color: #00bcd4; }
    div.main-section div.blog-container div.posts-container {
      width: 64%; }
      @media screen and (max-width: 990px) {
        div.main-section div.blog-container div.posts-container {
          width: 100%; } }
      div.main-section div.blog-container div.posts-container div.post-item {
        margin-bottom: 60px; }
        @media screen and (max-width: 770px) {
          div.main-section div.blog-container div.posts-container div.post-item {
            margin-bottom: 80px; } }
        div.main-section div.blog-container div.posts-container div.post-item h3.post-title {
          font-size: 1.8em; }
          @media screen and (max-width: 770px) {
            div.main-section div.blog-container div.posts-container div.post-item h3.post-title {
              text-align: center;
              font-size: 1.5em; } }
          @media screen and (max-width: 400px) {
            div.main-section div.blog-container div.posts-container div.post-item h3.post-title {
              font-size: 1.2em; } }
        div.main-section div.blog-container div.posts-container div.post-item div.post-image {
          margin: 20px 0;
          display: flex;
          justify-content: center;
          align-items: center; }
        div.main-section div.blog-container div.posts-container div.post-item p.post-description {
          font-size: .95em; }
          @media screen and (max-width: 770px) {
            div.main-section div.blog-container div.posts-container div.post-item p.post-description {
              text-align: center;
              font-size: .9em; } }
          @media screen and (max-width: 400px) {
            div.main-section div.blog-container div.posts-container div.post-item p.post-description {
              font-size: .85em; } }
        div.main-section div.blog-container div.posts-container div.post-item div.post-controls {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: .75em;
          margin-top: 20px;
          padding: 10px;
          border: rgba(150, 150, 150, 0.7) solid 1px; }
          @media screen and (max-width: 770px) {
            div.main-section div.blog-container div.posts-container div.post-item div.post-controls {
              font-size: .73em; } }
          @media screen and (max-width: 400px) {
            div.main-section div.blog-container div.posts-container div.post-item div.post-controls {
              font-size: .7em; } }
          @media screen and (max-width: 770px) {
            div.main-section div.blog-container div.posts-container div.post-item div.post-controls {
              flex-direction: column;
              position: relative;
              padding: 0; } }
          div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-infos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; }
            div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-infos div.post-info {
              border-right: rgba(150, 150, 150, 0.7) solid 1px; }
              @media screen and (max-width: 770px) {
                div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-infos div.post-info:last-child {
                  border-right: none; } }
              div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-infos div.post-info a {
                transition: background-color .3s;
                display: inline-block;
                padding: 8px 12px; }
                div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-infos div.post-info a:hover {
                  background-color: #00bcd4; }
          div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-link {
            padding: 0 15px; }
            @media screen and (max-width: 770px) {
              div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-link {
                padding: 0;
                border: #96a4a4 solid 1px;
                border-top: none;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%); } }
            @media screen and (max-width: 350px) {
              div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-link {
                padding: 0;
                width: 100%; } }
            div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-link a {
              transition: background-color .3s, color .3s;
              color: #337ab7;
              padding: 8px 12px;
              font-size: 1.1em;
              display: inline-block; }
              div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-link a:hover {
                background-color: #96a4a4;
                color: white; }
              @media screen and (max-width: 350px) {
                div.main-section div.blog-container div.posts-container div.post-item div.post-controls div.post-link a {
                  width: 100%;
                  padding: 8px 0;
                  text-align: center; } }
      div.main-section div.blog-container div.posts-container div.pagenumbers-container {
        display: flex;
        align-items: center;
        font-size: .85em;
        margin: 40px 0;
        padding: 5px 10px; }
        div.main-section div.blog-container div.posts-container div.pagenumbers-container div.pagenumbers {
          display: flex;
          margin-left: 15px; }
          div.main-section div.blog-container div.posts-container div.pagenumbers-container div.pagenumbers a.page-link {
            display: inline-block;
            margin: 0 3px;
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .3s, color .3s; }
            div.main-section div.blog-container div.posts-container div.pagenumbers-container div.pagenumbers a.page-link:hover:not(.selected-page) {
              background-color: #00bcd4;
              color: white; }
          div.main-section div.blog-container div.posts-container div.pagenumbers-container div.pagenumbers a.selected-page {
            background-color: #333;
            color: white; }

/*# sourceMappingURL=blog.css.map */
