img {
  max-width: 400px !important;
  width: 100% !important;
}
body {
  padding: 0 !important;
}
#wrapper {
  padding-top: 10px !important;
}
.post {
  margin-bottom: 15px !important;
  padding: 15px;
  width: 100%;
  position: inherit !important;
}
.post > .image.featured {
  width: 100% !important;
  margin: 0 !important;
}
.post p {
  color: black;
  font-size: 18px;
}
p {
  margin-bottom: 10px !important;
}
/* .image.featured img {
  max-width: 400px !important;
  width: 400px !important;
} */