div.slide-button{
  margin-top: 60px;
  display: flex;
  @media screen and (max-width: 400px){
    margin-top: 20px;
  } 
    a{
      background-color: $logo-blue;
      color: white;
      padding: 15px 0;
      width: 290px;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      transition: background-color .5s;
      @media screen and (max-width: $third-break){
        width: 220px;
        font-size: 1em;
      }
      @media screen and (max-width: 530px){
        margin: 0 auto;
      }
      @media screen and (max-width: 400px){
        width: 160px;
        font-size: .9em;
      } 
      @media screen and (max-width: 350px){
        font-size: .8em;
        width: 130px;
        padding: 10px;
      }     
      &:hover{
        background-color: $logo-red;
      }
    }
}