div.product-item{
    border: rgba(0, 0, 0, .2) solid 1px;
    padding: 10px;
    transition: border-color .5s;
    &:hover{
      border-color: black;
    }
    h5{
      color: #242424;
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 40px;
    }
    a{
      display: flex;
      flex-direction: column;
    }
  }