.translate-in{
  transform: translateY(100%);
}
nav{
  display: flex;
  @media screen and (max-width: $third-break){
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
   }
  div.nav-container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    
    a.logo{
      
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        @media screen and (max-width: $second-break){
          width: 160px;
        }
        @media screen and (max-width: $third-break){
          width: 140px;
        }
        @media screen and (max-width: 270px){
          width: 100px;
        }
      }
    }
    @media screen and (max-width: $first-break){
      width: 970px;
    }
    @media screen and (max-width: $second-break){
      width: 750px;
    }
    @media screen and (max-width: $third-break){
      width: 100%;
    }
    ul{
      display: flex;
      @media screen and (max-width: $third-break){
        display: none;
      }
      li{
        display: flex;
        &.drop-down-p{
          position: relative;
          img.drop-down-bolt{
            position: absolute;
            transition: transform .5s;
          }
          img.right{
            right: 0;
          }
          img.left{
            left: 0;
          }
        }
        a{
          color: white;
          width: 160px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          transition: background-color .5s;
          &.selected{
            background-color: $logo-red;
          }
          &:hover{
            background-color: $logo-red;
          }
          @media screen and (max-width: $second-break){
            font-size: .9em;
            width: 120px;
          }
        }
      }
    }
    ul.drop-down-list{
      flex-direction: column;
      position: absolute;
      z-index: 999;
      top: 100%;
      left: -10px;
      background-color: $logo-blue;
      li{
        a{
          width: 160px;
          padding: 15px 10px;
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: $second-break){
            font-size: .9em;
          }
          img{
            @media screen and (max-width: $second-break){
              width: 30px;
            }
          }
        }
      }
    }
  }
}