#slick_nav_jquery_jqia{
  @media screen and (max-width: 860px){
    display: block;
  }
}
nav{
  div.nav-container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    ul{
      display: flex;
      li{
        display: flex;
        &.drop-down-p{
          position: relative;
          img.drop-down-bolt{
            position: absolute;
            transition: transform .5s;
          }
          img.right{
            right: 0;
          }
          img.left{
            left: 0;
          }
        }
        a{
          color: white;
          width: 160px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          transition: background-color .5s;
          &.selected{
            background-color: $logo-red;
          }
          &:hover{
            background-color: $logo-red;
          }
        }
      }
    }
    ul.drop-down-list{
      flex-direction: column;
      position: absolute;
      left: -10px;
      top: 100%;
      background-color: $logo-blue;
      li{
        a{
          padding: 15px 10px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}