div.timer-section{
  width: 100%;
  div.timer-continer{
    padding: 20px 0;
    width: 1100px;
    margin: 0 auto;
    background-color: $main-blue;
    @media screen and (max-width: 1150px){
      width: 90%;
    }
    #timer-text{
      display: flex;
      width: 80%;
      margin: 0 auto;
      justify-content: space-between;
      color: white;
      @media screen and (max-width: 500px){
        width: 95%;
      }
      > div{
        text-align: center;
        div:first-child{
          font-size: 3.5em;
          font-weight: bold;
          @media screen and (max-width: 800px){
            font-size: 2.5em;
          }
          @media screen and (max-width: 600px){
            font-size: 1.5em;
          }
        }
        div:last-child{
          font-size: 1.2em;
        }
      }
    }
  }
}

div.main{
  margin-top: 60px;
  div.about-section{
    padding: 60px 0;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1150px){
      width: 95%;
    }
    @media screen and (max-width: 900px){
      flex-direction: column;
    }
    div.about-text{
      width:50%;
      @media screen and (max-width: 900px){
        width: 100%;
      }
      h3{
        text-transform: uppercase;
        color: $main-blue;
      }
      p.welcome{
        font-size: 2.5em;
        font-weight: bold;
        color: $main-green;
        text-transform: uppercase;
        line-height: 50px;
        margin-bottom: 25px;
        @media screen and (max-width: 600px){
          font-size: 2em;
        }
      }
      p.about-text{
        margin-bottom: 15px;
      }
      h5.about-sub-title{
        color: $main-blue;
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    }
    div.about-multi{
      width: 45%;
      @media screen and (max-width: 900px){
        width: 100%;
        margin-top: 60px;
      }
      img{
  
      }
    }
  }
  div.video-introduction{
    width: 1100px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px){
      width: 95%;
    }
    iframe{
      width: 1100px;
      height: 618px;
      @media screen and (max-width: 1150px){
        width: 800px;
        height: 450px;
      }
      @media screen and (max-width: 850px){
        width: 600px;
        height: 337px;
      }
      @media screen and (max-width: 650px){
        width: 500px;
        height: 281px;
      }
      @media screen and (max-width: 550px){
        width: 400px;
        height: 225px;
      }
      @media screen and (max-width: 450px){
        width: 300px;
        height: 168px;
      }
    }
  }
}

h2.main-title{
  color: $main-green;
  font-size: 4.5em;
  text-align: center;
  margin-bottom: 80px;
  text-decoration: underline;
  @media screen and (max-width: 900px){
    font-size: 4em;
  }
  @media screen and (max-width: 700px){
    font-size: 3.5em;
  }
  @media screen and (max-width: 500px){
    font-size: 3em;
  }
}

div.speakers-section{
  border-top: $main-blue solid 4px;
  padding: 80px 0;
  div.speakers-container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (max-width: 1150px){
      width: 95%;
    }
    @import "../components/speaker-item";
  }
}

div.lg-backdrop{
  z-index: 99999;
}
div.lg-outer{
  z-index: 99999;
}
div.gallery-section{
  border-top: $main-blue solid 4px;
  padding: 60px 0;
  div.gallery-container{
    width: 90%;
    margin: 0 auto;
    #lightgallery{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      li{
        margin-bottom: 33px;
        margin-left: 10px;
        margin-right: 10px;
        img{
          vertical-align: middle;
          transition: transform .4s;
        }
        &:hover{
          img{
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
          }
        }
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .6),
                   -1px -1px 15px 0px rgba(0, 0, 0, .6);
      }
    }
  }
}

div.sponsors-section{
  border-top: $main-blue solid 4px;
  padding: 60px 0;
  div.sponsors-container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1150px){
      width: 95%;
    }
    div.sponsor-item{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      margin-bottom: 25px;
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .3),
                   -1px -1px 15px 0px rgba(0, 0, 0, .3);
      img{
        width: 180px;
      }
    }
  }
}
