@import "vendor/normalize.css";
@import "vendor/jqia-slick-nav.css";
@import "slick/slick.css";
@import "slick/slick-theme.css";
html {
  font-family: "Montserrat";
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  line-height: 25px;
}

h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul.nav-links-container {
  text-transform: uppercase;
}

footer {
  background-image: url("../img/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer div.footer-info-container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  padding: 60px 0;
  color: white;
  justify-content: space-between;
  font-size: 18px;
  text-shadow: 2px 2px black;
}
@media screen and (max-width: 1150px) {
  footer div.footer-info-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(auto-fit);
  }
}
@media screen and (max-width: 500px) {
  footer div.footer-info-container {
    display: flex;
    flex-direction: column;
  }
}
footer div.footer-info-container > div {
  width: 22%;
}
@media screen and (max-width: 1150px) {
  footer div.footer-info-container > div {
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
footer div.footer-info-container > div div.footer-info-title {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}
footer div.footer-info-container > div div.footer-info-title i {
  color: #01A66E;
  font-size: 1.5em;
  margin-right: 10px;
}
footer div.footer-info-container div.social-media div.social-media-items {
  display: flex;
  flex-wrap: wrap;
}
footer div.footer-info-container div.social-media div.social-media-items div.social-media-item {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer div.footer-info-container div.social-media div.social-media-items div.social-media-item i {
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s, color 0.4s;
  border: white solid 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-shadow: none;
}
footer div.footer-info-container div.social-media div.social-media-items div.social-media-item i:hover {
  background-color: #01A66E;
  color: #12324f;
}
footer div.all-right {
  text-align: center;
  background-color: #12324f;
  color: white;
  padding: 20px 0;
}
@media screen and (max-width: 500px) {
  footer div.all-right {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1000px) {
  #slick_nav_jquery_jqia {
    display: block;
  }
}

nav {
  width: 100%;
  background-color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
nav.dark-nav {
  background-color: #12324f;
}
@media screen and (max-width: 1000px) {
  nav {
    background-color: #12324f;
  }
}
@media screen and (max-width: 1000px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99998;
  }
}
nav div.nav-container {
  width: 100%;
  margin: 0 auto;
}
nav div.nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
nav div.nav-container ul li:not(.header-logo) {
  transition: background-color 0.4s ease-out;
  display: block;
  width: 14%;
  margin-left: 15px;
}
@media screen and (max-width: 1000px) {
  nav div.nav-container ul li:not(.header-logo) {
    display: none;
  }
}
nav div.nav-container ul li:not(.header-logo) a {
  font-size: 1.2vw;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px 0;
  display: block;
}
@media screen and (max-width: 1150px) {
  nav div.nav-container ul li:not(.header-logo) a {
    font-size: 0.9em;
  }
}
nav div.nav-container ul li:not(.header-logo):hover {
  background-color: #01A66E;
}
nav div.nav-container ul li:not(.header-logo) .selected-page {
  background-color: #01A66E;
}
nav div.nav-container ul li.header-logo {
  flex: 1.2;
}
nav div.nav-container ul li.header-logo img {
  width: 80px;
}
@media screen and (max-width: 1000px) {
  nav div.nav-container ul li.header-logo img {
    width: 60px;
  }
}

nav div.nav-container ul li.header-logo img {
  width: 60px;
}

div.main {
  padding: 60px 0;
  margin-top: 100px;
}
div.main h2 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 100px;
  color: #01A66E;
  text-decoration: underline;
}
@media screen and (max-width: 500px) {
  div.main h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 400px) {
  div.main h2 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 320px) {
  div.main h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 250px) {
  div.main h2 {
    font-size: 1.5em;
  }
}
div.main div.contact-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 1200px) {
  div.main div.contact-container {
    width: 700px;
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  div.main div.contact-container {
    width: 95%;
    flex-direction: column;
  }
}
div.main div.contact-container div.form-container {
  width: 600px;
}
@media screen and (max-width: 1200px) {
  div.main div.contact-container div.form-container {
    width: 100%;
  }
}
div.main div.contact-container div.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 1em;
}
div.main div.contact-container div.form-container form * {
  padding: 17px;
  margin-bottom: 30px;
}
div.main div.contact-container div.form-container form input[type=text], div.main div.contact-container div.form-container form textarea, div.main div.contact-container div.form-container form input[type=email] {
  background-color: #12324f;
  border: none;
  color: white;
}
div.main div.contact-container div.form-container form input[type=text]::placeholder, div.main div.contact-container div.form-container form textarea::placeholder, div.main div.contact-container div.form-container form input[type=email]::placeholder {
  color: white;
}
div.main div.contact-container div.form-container form input[type=submit] {
  align-self: flex-start;
  padding: 12px 30px;
  font-weight: bold;
  color: white;
  background-color: #01A66E;
  transition: background-color 0.5s;
  border: none;
}
div.main div.contact-container div.form-container form input[type=submit]:hover {
  background-color: #12324f;
}
div.main div.contact-container div.form-container form textarea {
  height: 200px;
}
div.main div.map-container {
  width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  div.main div.map-container {
    width: 100%;
  }
}
div.main div.map-container iframe {
  width: 100%;
}

/*# sourceMappingURL=contact.css.map */
