@import "vendor/normalize.css";
@import "../base/variables";
@import "../base/reset";
@import "../base/classes";
@import "vendor/font-awesome.min.css";
@import "../vendor/jqia-slick-nav";
@import "../components/navigation";

div.main{
  padding: 60px 0;
  div.container{
    width: 1170px;
    margin: 0 auto;
    @media screen and (max-width: $first-break){
      width: 970px;
      flex-direction: column;
    }
    @media screen and (max-width: $second-break){
      width: 750px;
    }
    @media screen and (max-width: $third-break){
      width: 95%;
    }
    h2{
      text-align: center;
      font-size: 3em;
      margin-bottom: 80px;
      @media screen and (max-width: $third-break){
        font-size: 2.5em;
      }
      @media screen and (max-width: 450px){
        font-size: 2em;
      }
      @media screen and (max-width: 300px){
        font-size: 1.8em;
      }
    }
    div.info-form{
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $third-break){
        flex-direction: column;
        align-items: center;
      }
      > div{
        padding: 40px 0;
      }
      div.info{
        width: 45%;
        font-size: 1.1em;
        border-right: $main-blue solid 1px;
        @media screen and (max-width: $third-break){
          width: 95%;
          text-align: center;
          border-right: none;
        }
        @media screen and (max-width: 450px){
          font-size: 1em;
        }
        h5{
          font-size: 1.3em;
          @media screen and (max-width: $third-break){
            margin-bottom: 15px;
          }
          @media screen and (max-width: 450px){
            font-size: 1.1em;
          }
        }
        > div{
          margin-bottom: 40px;
        }
      }
      div.form{
        width: 50%;
        @media screen and (max-width: $third-break){
          width: 95%;
        }
        form{
          display: flex;
          flex-direction: column;
          width: 100%;
          font-weight: 1em;
          *{
            padding: 17px;
            margin-bottom: 30px;
          }
          input[type="text"], textarea, input[type="email"]{
            background-color: $main-blue;
            border: none;
            color: white;
            &::placeholder{
              color: white;
            }
          }
          input[type="submit"]{
            align-self: flex-start;
            padding: 12px 30px;
            font-weight: bold;
            color: white;
            background-color: $main-blue;
            transition: background-color .5s;
            border: none;
            &:hover{
              background-color: $dark-blue; 
            }
          }
          textarea{
            height: 200px;
          }
        }
      }
    }
    div.map{
      margin-top: 40px;
    }
  }
}

@import "../layouts/footer";