@import "../base/variables";
@import "../base/reset";
@import "../base/classes";
@import "../components/buttons";
@import "../components/navigation";

div.main{
  width: 100%;
  div.products-section{
    width: 95%;
    margin: 50px auto;
    padding: 30px 10px;
    display: flex;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, .1),
                    -1px -1px 15px 0px rgba(0, 0, 0, .1);
    @media screen and (max-width: 800px){
      flex-direction: column;
    }
    div.products-types{
      @media screen and (max-width: 800px){
        margin-right: 10px;
        position: relative;
      }
      div.drop-down{
        display: none;
        text-align: center;
        @media screen and (max-width: 800px){
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      ul{
        @media screen and (max-width: 800px){
          display: none;
          position: absolute;
          z-index: 999;
          width: 100%;
        }
        li{
          @media screen and (max-width: 800px){
            
          }
          
        }
      }
      li, div.drop-down{
        cursor: pointer;
        color: white;
        padding: 20px 15px;
        border-bottom: white solid 1px;
        background-color: $main-blue;
        transition: background-color .4s ease-out;
        @media screen and (max-width: 800px){
          padding: 10px;
        }
        @media screen and (max-width: 350px){
          font-size: .9em;
        }
        &.selected{
          background-color: $dark-blue;
        }
        &:hover{
          background-color: $dark-blue;
        }
      }
    }
    div.products-container{
      flex: 1;
      margin-left: 40px;
      position: relative;
      @media screen and (max-width: 800px){
        margin-top: 40px;
        margin-left: 0;
      }
      > div{//Accessoires-pour-salle-de-bain
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > div{//product
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 15px;
          margin-bottom: 50px;
          margin-left: 15px;
          margin-right: 15px;
          cursor: pointer;
          box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, .1),
                    -1px -1px 15px 0px rgba(0, 0, 0, .1);
          transition: transform .4s ease-out;
          &:hover{
            transform: scale(1.1);
          }
          div.product-img{
            @media screen and (max-width: 510px){
              width: 120px;
            }
          }
        }
      }
    }
  }
}

@import "../layouts/footer";