#slick_nav_jquery_jqia {
  width: 100%;
  background-color: inherit;
  position: fixed;
  display: none;
  z-index: 99999; }
  #slick_nav_jquery_jqia div.slick-nav-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin: 0 auto; }
  #slick_nav_jquery_jqia button.slick-nav-but {
    background-color: #333333;
    width: 45px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 15px; }
    #slick_nav_jquery_jqia button.slick-nav-but::-moz-focus-inner {
      border: 0; }
    #slick_nav_jquery_jqia button.slick-nav-but:focus {
      outline: none; }
    #slick_nav_jquery_jqia button.slick-nav-but span {
      width: 50%;
      height: 2px;
      background-color: white;
      display: block;
      margin: 4px auto;
      border-radius: 5px; }
  #slick_nav_jquery_jqia div.links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #383e4c; }
    #slick_nav_jquery_jqia div.links-container a {
      padding: 10px 0;
      border-radius: 2px;
      color: white;
      font-family: sans-serif;
      transition: background-color .3s;
      text-align: center; }
      #slick_nav_jquery_jqia div.links-container a.selected-link {
        background-color: #49505f; }
      #slick_nav_jquery_jqia div.links-container a:not(:last-child) {
        border-bottom: white solid 1px; }
      #slick_nav_jquery_jqia div.links-container a:hover {
        background-color: #49505f; }

@font-face {
  font-family: 'Open Sans 300';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Open Sans 400';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/*Global///******************************************************************************/
* {
  margin: 0;
  padding: 0; }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Open Sans 300"; }

p {
  line-height: 21px; }

button::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0; }
button:focus,
a:focus {
  outline: none; }

a {
  text-decoration: none;
  text-align: center; }

.green-text {
  color: #178a27; }

.blue-text {
  color: #1686c1; }

.red-text {
  color: #802406; }

.grey-text {
  color: #666666; }

.green-button {
  background-color: #178a27; }

.blue-button {
  background-color: #1686c1; }

.red-button {
  background-color: #802406; }

.grey-button {
  color: #666666;
  border: #666666 solid 1px; }

a.text-link {
  color: #1686c1; }

/*Navigation///******************************************************************************/
@media screen and (max-width: 767px) {
  #slick_nav_jquery_jqia {
    display: initial; } }

nav {
  background-color: #383e4c;
  padding-top: .6em;
  padding-bottom: .8em;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: "Open Sans 400"; }
  @media screen and (max-width: 767px) {
    nav {
      display: none; } }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; }
    nav ul li {
      margin: 0 .5em; }
      nav ul li a {
        color: white;
        display: block;
        border: #646d7c solid 1px;
        font-size: 1.25em;
        padding: .6em 1.4em;
        transition: background-color .4s; }
        @media screen and (max-width: 992px) {
          nav ul li a {
            font-size: 1.05em;
            padding: .8em 1.2em; } }
        nav ul li a.selected-link {
          background-color: #49505f; }
        nav ul li a:hover {
          background-color: #49505f; }

/*Head Cover///******************************************************************************/
header div.head-cover {
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 235px 0; }
  header div.head-cover h1 {
    color: white;
    text-align: center;
    font-size: 4.2em;
    text-shadow: 2px 2px black; }
    @media screen and (max-width: 400px) {
      header div.head-cover h1 {
        font-size: 3.4em; } }
  header div.head-cover h4 {
    color: white;
    font-size: 1.5em;
    text-align: center; }
    @media screen and (max-width: 400px) {
      header div.head-cover h4 {
        font-size: 1.2em; } }

/*Main///*************************************************************************/
main {
  width: 100%;
  /*Our Services///************************************************************************/ }
  main div.section1,
  main div.section2 {
    margin: 70px auto;
    width: 1140px; }
    main div.section1 div.feater-content,
    main div.section1 div.blog-content,
    main div.section1 div.testimornial-content,
    main div.section2 div.feater-content,
    main div.section2 div.blog-content,
    main div.section2 div.testimornial-content {
      background-color: #f2f2f2; }
    @media screen and (max-width: 1200px) {
      main div.section1,
      main div.section2 {
        width: 940px; } }
    @media screen and (max-width: 990px) {
      main div.section1,
      main div.section2 {
        width: 720px; } }
    @media screen and (max-width: 767px) {
      main div.section1,
      main div.section2 {
        width: 100%; } }
  main div.section1 {
    /*Features///*************************************************************************/
    /*Blogs///*************************************************************************/ }
    main div.section1 div.features-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 80px;
      margin-top: 20px;
      padding-top: 20px; }
      @media screen and (max-width: 992px) {
        main div.section1 div.features-container {
          justify-content: space-around; } }
      @media screen and (max-width: 767px) {
        main div.section1 div.features-container {
          flex-direction: column; } }
    main div.section1 div.feater-content {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 360px;
      min-height: 450px; }
      @media screen and (max-width: 1200px) {
        main div.section1 div.feater-content {
          width: 293px;
          min-height: 440px; } }
      @media screen and (max-width: 992px) {
        main div.section1 div.feater-content {
          width: 220px;
          min-height: 460px; } }
      @media screen and (max-width: 767px) {
        main div.section1 div.feater-content {
          width: 360px;
          min-height: 450px;
          margin: 0 auto 60px auto;
          text-align: center; } }
      @media screen and (max-width: 360px) {
        main div.section1 div.feater-content {
          width: 100%; } }
      @media screen and (max-width: 1200px) {
        main div.section1 div.feater-content img {
          width: 293px; } }
      @media screen and (max-width: 992px) {
        main div.section1 div.feater-content img {
          width: 220px; } }
      @media screen and (max-width: 767px) {
        main div.section1 div.feater-content img {
          width: 360px; } }
      @media screen and (max-width: 360px) {
        main div.section1 div.feater-content img {
          width: 100%; } }
      main div.section1 div.feater-content h2,
      main div.section1 div.feater-content p {
        padding: 0 20px;
        font-family: "Open Sans 400"; }
      main div.section1 div.feater-content h2 {
        margin-bottom: 10px;
        margin-top: 10px;
        align-self: flex-start;
        font-size: 1.2em; }
        @media screen and (max-width: 992px) {
          main div.section1 div.feater-content h2 {
            font-size: 1.1em; } }
        @media screen and (max-width: 767px) {
          main div.section1 div.feater-content h2 {
            align-self: auto; } }
      main div.section1 div.feater-content p {
        font-size: .9em; }
      main div.section1 div.feater-content a.feater-content-button {
        font-size: 1.1em;
        padding: 10px 30px;
        border-radius: 8px;
        margin-top: auto;
        margin-bottom: 20px;
        color: white;
        font-weight: bold; }
@keyframes feater-link-hover-animation {
  from {
    opacity: 1; }
  to {
    opacity: .8; } }
        main div.section1 div.feater-content a.feater-content-button:hover {
          animation-name: feater-link-hover-animation;
          animation-duration: .3s;
          animation-fill-mode: forwards; }
    main div.section1 div.blogs-container {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 992px) {
        main div.section1 div.blogs-container {
          justify-content: space-around; } }
      @media screen and (max-width: 767px) {
        main div.section1 div.blogs-container {
          flex-direction: column; } }
    main div.section1 div.blog-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 555px;
      min-height: 600px; }
      @media screen and (max-width: 1200px) {
        main div.section1 div.blog-content {
          width: 455px; } }
      @media screen and (max-width: 992px) {
        main div.section1 div.blog-content {
          width: 345px; } }
      @media screen and (max-width: 767px) {
        main div.section1 div.blog-content {
          width: 555px;
          margin: 0 auto 40px auto; } }
      @media screen and (max-width: 594px) {
        main div.section1 div.blog-content {
          width: 100%;
          margin-bottom: 40px; } }
      @media screen and (max-width: 1200px) {
        main div.section1 div.blog-content img {
          width: 455px; } }
      @media screen and (max-width: 992px) {
        main div.section1 div.blog-content img {
          width: 345px; } }
      @media screen and (max-width: 767px) {
        main div.section1 div.blog-content img {
          width: 555px; } }
      @media screen and (max-width: 594px) {
        main div.section1 div.blog-content img {
          width: 100%; } }
      main div.section1 div.blog-content h2,
      main div.section1 div.blog-content p {
        padding: 0 20px;
        font-family: "Open Sans 400";
        margin-bottom: 20px; }
        @media screen and (max-width: 594px) {
          main div.section1 div.blog-content h2,
          main div.section1 div.blog-content p {
            text-align: center; } }
      main div.section1 div.blog-content h2 {
        font-size: 1.2em;
        margin-bottom: 30px;
        margin-top: 20px; }
      main div.section1 div.blog-content p {
        font-size: .9em; }
      main div.section1 div.blog-content a.blog-content-button {
        font-size: 1.1em;
        padding: 10px 25px;
        border-radius: 8px;
        margin: auto auto 40px auto;
        background-color: white;
        font-weight: bold; }
        main div.section1 div.blog-content a.blog-content-button:hover {
          background-color: #e6e6e6; }
  main div.our-services {
    color: white;
    background-image: url("../img/bg-2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    margin: 60px 0; }
    main div.our-services h1 {
      font-size: 2.2em;
      margin-bottom: 20px;
      text-shadow: 2px 2px #666666; }
      @media screen and (max-width: 260px) {
        main div.our-services h1 {
          font-size: 1.8em; } }
    main div.our-services p {
      text-align: center;
      width: 800px;
      font-size: 1.2em;
      font-weight: bold; }
      @media screen and (max-width: 1200px) {
        main div.our-services p {
          font-size: 1.1em; } }
      @media screen and (max-width: 992px) {
        main div.our-services p {
          font-size: 1em;
          width: 700px; } }
      @media screen and (max-width: 767px) {
        main div.our-services p {
          font-size: .9em;
          width: 580px; } }
      @media screen and (max-width: 594px) {
        main div.our-services p {
          line-height: 25px;
          font-size: 1.05em;
          width: 100%;
          margin: 10px; } }
  main div.section2 {
    /*Testimornial///************************************************************************/ }
    main div.section2 div.testimornial-container {
      margin-bottom: 40px;
      display: grid;
      justify-content: space-between;
      grid-template-columns: 260px 260px 260px 260px;
      grid-template-rows: 550px 840px; }
      @media screen and (max-width: 1200px) {
        main div.section2 div.testimornial-container {
          grid-template-columns: 213px 213px 213px 213px; } }
      @media screen and (max-width: 992px) {
        main div.section2 div.testimornial-container {
          grid-template-columns: 260px 260px;
          grid-template-rows: 580px 580px 1000px; } }
      @media screen and (max-width: 767px) {
        main div.section2 div.testimornial-container {
          justify-content: space-around;
          width: 100%;
          grid-template-rows: 580px 580px 800px; } }
      @media screen and (max-width: 594px) {
        main div.section2 div.testimornial-container {
          grid-template-columns: 45% 45%; } }
      @media screen and (max-width: 520px) {
        main div.section2 div.testimornial-container {
          display: flex;
          flex-direction: column;
          align-items: center; } }
      main div.section2 div.testimornial-container div.testimornial-content {
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 992px) {
          main div.section2 div.testimornial-container div.testimornial-content {
            margin-bottom: 40px; } }
        @media screen and (max-width: 520px) {
          main div.section2 div.testimornial-container div.testimornial-content {
            width: 260px; } }
        @media screen and (max-width: 1200px) {
          main div.section2 div.testimornial-container div.testimornial-content:not(.testimornial-row) img {
            width: 213px; } }
        @media screen and (max-width: 992px) {
          main div.section2 div.testimornial-container div.testimornial-content:not(.testimornial-row) img {
            width: 260px; } }
        @media screen and (max-width: 594px) {
          main div.section2 div.testimornial-container div.testimornial-content:not(.testimornial-row) img {
            width: 100%; } }
        main div.section2 div.testimornial-container div.testimornial-content h2 {
          text-align: center;
          margin: 15px 0;
          font-size: 1.2em;
          font-family: "Open Sans 400"; }
        main div.section2 div.testimornial-container div.testimornial-content p {
          padding: 0 20px;
          margin-bottom: 20px;
          font-family: "Open Sans 400"; }
          @media screen and (max-width: 520px) {
            main div.section2 div.testimornial-container div.testimornial-content p {
              text-align: center; } }
        main div.section2 div.testimornial-container div.testimornial-content a.testimornial-link {
          margin: auto auto 20px auto;
          padding: 10px 30px;
          border-radius: 8px;
          background-color: white;
          font-size: 1.1em;
          font-family: "Open Sans 400"; }
@keyframes testimornial-link-hover-animation {
  from {
    background-color: white;
    color: #666666; }
  to {
    background-color: #e6e6e6;
    color: #380cd2; } }
          main div.section2 div.testimornial-container div.testimornial-content a.testimornial-link:hover {
            animation-name: testimornial-link-hover-animation;
            animation-duration: .3s;
            animation-fill-mode: forwards; }
      main div.section2 div.testimornial-container div.testimornial-row {
        grid-column: 1 / span 4;
        margin-top: 40px; }
        @media screen and (max-width: 992px) {
          main div.section2 div.testimornial-container div.testimornial-row {
            grid-column: 1 / span 2; } }
        @media screen and (max-width: 520px) {
          main div.section2 div.testimornial-container div.testimornial-row {
            width: 95%; } }
        @media screen and (max-width: 767px) {
          main div.section2 div.testimornial-container div.testimornial-row img {
            width: 100%; } }
        main div.section2 div.testimornial-container div.testimornial-row h2 {
          text-align: left;
          margin-left: 20px; }
          @media screen and (max-width: 520px) {
            main div.section2 div.testimornial-container div.testimornial-row h2 {
              text-align: center; } }
        main div.section2 div.testimornial-container div.testimornial-row p {
          margin-bottom: 20px; }
          @media screen and (max-width: 520px) {
            main div.section2 div.testimornial-container div.testimornial-row p {
              text-align: center; } }
        main div.section2 div.testimornial-container div.testimornial-row a.testimornial-link {
          margin: auto auto 40px 20px; }
          @media screen and (max-width: 520px) {
            main div.section2 div.testimornial-container div.testimornial-row a.testimornial-link {
              margin: auto auto 40px auto; } }

/*Contact Us///************************************************************************/
div.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg-3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 0;
  font-family: "Open Sans 400"; }
  @media screen and (max-width: 992px) {
    div.contact-container {
      padding: 30px 0; } }
  div.contact-container p,
  div.contact-container input,
  div.contact-container textarea {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px; }
    @media screen and (max-width: 992px) {
      div.contact-container p,
      div.contact-container input,
      div.contact-container textarea {
        width: 90%; } }
  div.contact-container h1 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.4em; }
  div.contact-container p {
    width: 720px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 15px; }
    @media screen and (max-width: 992px) {
      div.contact-container p {
        padding: 20px 0;
        font-size: 1.2em; } }
    @media screen and (max-width: 992px) {
      div.contact-container p {
        padding: 20px 15px;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        width: 80%; } }
  @media screen and (max-width: 992px) {
    div.contact-container form {
      width: 100%; } }
  div.contact-container form div.form-inputs {
    display: flex;
    justify-content: center;
    width: 720px; }
    @media screen and (max-width: 992px) {
      div.contact-container form div.form-inputs {
        flex-direction: column; } }
    @media screen and (max-width: 992px) {
      div.contact-container form div.form-inputs {
        width: 100%; } }
    div.contact-container form div.form-inputs input,
    div.contact-container form div.form-inputs textarea {
      border: none;
      padding: 8px 15px;
      color: black;
      font-family: "Open Sans 400"; }
      div.contact-container form div.form-inputs input::placeholder,
      div.contact-container form div.form-inputs textarea::placeholder {
        color: black;
        font-family: "Open Sans 400";
        font-size: 1em; }
      div.contact-container form div.form-inputs input:-ms-input-placeholder,
      div.contact-container form div.form-inputs textarea:-ms-input-placeholder {
        color: black;
        font-family: "Open Sans 400";
        font-size: 1em; }
      div.contact-container form div.form-inputs input::-ms-input-placeholder,
      div.contact-container form div.form-inputs textarea::-ms-input-placeholder {
        color: black;
        font-family: "Open Sans 400";
        font-size: 1em; }
    @media screen and (max-width: 992px) {
      div.contact-container form div.form-inputs input {
        margin-left: auto;
        margin-right: auto;
        width: 80%; } }
    div.contact-container form div.form-inputs div.form-left {
      display: flex;
      flex-direction: column;
      width: 48%;
      margin-right: 2%; }
      @media screen and (max-width: 992px) {
        div.contact-container form div.form-inputs div.form-left {
          width: 100%;
          margin-right: auto; } }
      div.contact-container form div.form-inputs div.form-left input:not(:last-child) {
        margin-bottom: 20px; }
    div.contact-container form div.form-inputs textarea {
      width: 48%;
      margin-left: 2%; }
      @media screen and (max-width: 992px) {
        div.contact-container form div.form-inputs textarea {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          height: 150px; } }
  div.contact-container button.submit-button {
    display: block;
    margin: 30px auto 10px 50%;
    padding: 12px 30px;
    border-radius: 8px;
    border: white solid 1px;
    color: white;
    background-color: #262628;
    font-size: 1.2em;
    cursor: pointer; }
    @media screen and (max-width: 992px) {
      div.contact-container button.submit-button {
        margin: 30px auto 10px auto; } }
@keyframes submit-hover-animation {
  from {
    background-color: #262628;
    color: white; }
  to {
    background-color: white;
    color: #262628; } }
    div.contact-container button.submit-button:hover {
      animation-name: submit-hover-animation;
      animation-duration: .5s;
      animation-fill-mode: forwards; }

/*Footer///************************************************************************/
footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer h1,
  footer blockquote {
    width: 100%;
    font-style: italic; }
  footer h1 {
    margin-bottom: 20px;
    color: #666679;
    font-size: 1.9em; }
  footer blockquote {
    margin: 0 auto;
    width: 440px;
    color: #666679;
    font-size: .9em; }
    @media screen and (max-width: 440px) {
      footer blockquote {
        width: 95%; } }
  footer p.copyright {
    width: 100%;
    font-size: .8em;
    margin-top: 60px; }
    @media screen and (max-width: 520px) {
      footer p.copyright {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 95%; } }

/*Scroll Up///************************************************************************/
#scrollUp {
  background-image: url("../img/top.png");
  width: 38px;
  height: 38px;
  position: fixed;
  right: 20px;
  bottom: 24px;
  display: none; }

/*# sourceMappingURL=main.css.map */
