<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BIM DAY GVA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800,700,800italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="styles/conférence.css">
  </head>

  <body>
      <header>
          <nav>
            <div class="logo-container"> <a href="index.html"><img src="img/logo.png" alt="logo" width="70"></a> </div>
            <ul>
              <li><a  href="index.html">Accueil</a></li>
              <li><a class="selected" href="conférences.html">Conférences</a></li>
              <li><a href="exposition.html">Exposition</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li class="billetterie-nav"><a href="billetterie.html">Billetterie</a></li>
            </ul>
          </nav>
        </header>
    
    <div class="main">
      <div class="container">
        <div class="conférences-info">
          <ul>
            <li class="selected-conférence" data-speaker_id="1">
              <div class="disc-time">
                <span class="list-disc"></span>
                <span class="conférence-time">9:00</span>
              </div>
              <p class="conférence-detail">La Transition digitale etles innovation</p>
            </li>
            <li>
              <div class="disc-time">
                <span class="list-disc"></span>
                <span class="conférence-time">9:30</span>
              </div>
              <p class="conférence-detail">La Transition digitale etles innovation</p>
            </li>
            <li>
              <div class="disc-time">
                <span class="list-disc"></span>
                <span class="conférence-time">10:00</span>
              </div>
              <p class="conférence-detail">Coversion entre le bim et les systemes d'informations géographique</p>
            </li>            
            <li data-speaker_id="2">
              <div class="disc-time">
                <span class="list-disc"></span>
                <span class="conférence-time">10:30</span>
              </div>
              <p class="conférence-detail">La Transition digitale etles innovation</p>
            </li>
            <li>
              <div class="disc-time">
                <span class="list-disc"></span>
                <span class="conférence-time">11:00</span>
              </div>
              <p class="conférence-detail">Coversion entre le bim et les systemes d'informations géographique</p>
            </li> 
            <li>
              <div class="disc-time">
                <span class="list-disc"></span>
                <span class="conférence-time">12:30</span>
              </div>
              <p class="conférence-detail">La Transition digitale etles innovation</p>
            </li>           
            <li>
              <div class="disc-time">
                <span class="list-disc"></span>
                <span class="conférence-time">16:00</span>
              </div>
              <p class="conférence-detail">Coversion entre le bim et les systemes d'informations géographique</p>
            </li> 
            <li>
              <li data-speaker_id="3">
                <div class="disc-time">
                  <span class="list-disc"></span>
                  <span class="conférence-time">17:00</span>
                </div>
                <p class="conférence-detail">La Transition digitale etles innovation</p>
              </li>
          </ul>
        </div>
        <div class="conférences-list">
          <h3>Conférences</h3>
          <p>Dans une salle d'une capacité de 200 personnes Dans une salle d'une capacité de 200 personnes Dans une salle d'une capacité de 200 personnes Dans une salle d'une capacité de 200 personnes Dans une salle d'une capacité de 200 personnes</p>
          <div class="speakers-container">

            <div class="speaker-item selected-speaker" data-speaker_id="1">
              <div class="speaker-img"> <img src="img/speakers/speaker1.png" alt="speaker" width="80"> </div>
              <div class="speaker-info">
                <p class="speaker-name">Nom Prénom</p>
                <p class="speaker-job">Co-founder</p>
              </div>
              <div class="speaker-bio">
                <p>Le salon BIM DAY GVA aura lieu le 16 Janvier 2020 au Centre de conférence RAMADA
                ENCORE GENEVE à La Praille.</p>
              </div>
            </div>

            <div class="speaker-item" data-speaker_id="2">
              <div class="speaker-img"> <img src="img/speakers/speaker2.png" alt="speaker" width="80"> </div>
              <div class="speaker-info">
                <p class="speaker-name">Nom Prénom</p>
                <p class="speaker-job">Co-founder</p>
              </div>
              <div class="speaker-bio">
                <p>Le salon BIM DAY GVA aura lieu le 16 Janvier 2020 au Centre de conférence RAMADA
                ENCORE GENEVE à La Praille.</p>
              </div>
            </div>

            <div class="speaker-item" data-speaker_id="3">
              <div class="speaker-img"> <img src="img/speakers/speaker3.png" alt="speaker" width="80"> </div>
              <div class="speaker-info">
                <p class="speaker-name">Nom Prénom</p>
                <p class="speaker-job">Co-founder</p>
              </div>
              <div class="speaker-bio">
                <p>Le salon BIM DAY GVA aura lieu le 16 Janvier 2020 au Centre de conférence RAMADA
                ENCORE GENEVE à La Praille.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <footer>
    </footer>

    <script src="js/conférence.js"></script>
  </body>
</html>
