<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BIM DAY GVA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800,700,800italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="styles/contact.css">
  </head>

  <body>
      <header>
          <nav>
            <div class="logo-container"> <a href="index.html"><img src="img/logo.png" alt="logo" width="70"></a> </div>
            <ul>
              <li><a  href="index.html">Accueil</a></li>
              <li><a  href="conférences.html">Conférences</a></li>
              <li><a  href="exposition.html">Exposition</a></li>
              <li><a class="selected" href="contact.html">Contact</a></li>
              <li class="billetterie-nav"><a href="billetterie.html">Billetterie</a></li>
            </ul>
          </nav>
        </header>
    
    <div class="main">
      <div class="container">
        <div class="vous-contact-form">
          <div class="contact-title"> <h3>Contact</h3> </div>
          <div class="vous-form-container">
            <form action="" class="vous-form">
              <select name="vous-etes" id="vous-etes">
                <option value="default">Vous etes</option>
                <option value="1">Visiteurs</option>
                <option value="1">Exposant</option>
                <option value="1">Partenaire</option>
              </select>
            </form>
          </div>
          <div class="contact-form-container">
            <form action="" class="contact-form">
              <div>
                  <input type="text" placeholder="Nom">
                  <input type="text" placeholder="Prénom">
                  <input type="mail" placeholder="Adresse mail">
              </div>
              <textarea name="message" id="message-textarea" placeholder="Message..."></textarea>
            </form>
          </div>
        </div>

        <div class="map-info-pratique">
          <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11050.311552775858!2d6.1270773!3d46.1790578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc544bba879a22551!2sRamada%20Encore%20Geneva!5e0!3m2!1sen!2sdz!4v1568889333636!5m2!1sen!2sdz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
          <div class="info-pratique">
            <h4>Info Pratiques</h4>
            <h5>Adress :</h5>
            <address>Centre de conférence Ramada Encore Geneva 10 route des jeunes -1227 CADD</address>
            <h5>Accés en transport publique :</h5>
            <p>Bus 21, 23, 42, D: Arret "Stade Géneves"</p>
            <h5>Accées en voiture:</h5>
            <h6>Depuis Genéve:</h6>
            <p>Dummy text Dummy text Dummy text Dummy text...</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
    </footer>

    <script src="js/contact.js"></script>
  </body>
</html>
