<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BIM DAY GVA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800,700,800italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="styles/exposition.css">
  </head>

  <body>
      <header>
          <nav>
            <div class="logo-container"> <a href="index.html"><img src="img/logo.png" alt="logo" width="70"></a> </div>
            <ul>
              <li><a  href="index.html">Accueil</a></li>
              <li><a  href="conférences.html">Conférences</a></li>
              <li><a class="selected" href="exposition.html">Exposition</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li class="billetterie-nav"><a href="billetterie.html">Billetterie</a></li>
            </ul>
          </nav>
        </header>
    
    <div class="main">
      <div class="container">
        <div class="exposition-info">
          <h3>Exposition</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec </p>
          <div class="expositions-list">
            <div class="select-options">
              <div class="data-default_option">Liste des Expositions <span class="chevron">&#x3009;</span></div>
              <ul class="hide">
                <li  data-option_value="1">Exposition 1</li>
                <li  data-option_value="2">Exposition 2</li>
                <li  data-option_value="3">Exposition 3</li>
              </ul>
            </div>
          </div>
          <div class="expositions-slider">
            <div class="exposition-slide">
              <p class="caption">Dummy text</p>
            </div>
            <div class="exposition-slide selected-slide">
              <p class="caption">Dummy text</p>
            </div>
            <div class="exposition-slide">
              <p class="caption">Dummy text</p>
            </div>
          </div>
        </div>

        <div class="exposition-aside">
          <div class="stand-button">Réserver votre stand</div>
        </div>
      </div>
    </div>

    <footer>
    </footer>

    <script src="js/select-options.js"></script>
    <script src="js/exposition.js"></script>
  </body>
</html>
