div.speaker-item.selected-speaker{
  transform: scale(1);
}
div.speaker-item{
  transition: transform .4s;
  transform: scale(.8);
  width: 200px;
  background-image: linear-gradient($main-green,rgba(0, 0, 0, .1), rgba(0, 0, 0, .4) );
  padding: 10px;
  padding-top: 35px;
  cursor: pointer;
  div.speaker-img{
    
    img{
      border-radius: 50%;
      border: white solid 4px;
    }
  }
  div.speaker-info{
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 15px;
    p.speaker-name{
      font-weight: bold;
    }
    p.speaker-job{

    }
  }
  div.speaker-bio{
    font-size: .8em;
  }
}
