<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BIM DAY GVA - Contact</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="styles/contact.css">
    <script src="https://kit.fontawesome.com/38159abd34.js"></script>
  </head>

  <body>
    <header>
        <nav class="dark-nav">
          <div class="nav-container">
            <ul class="nav-bar">  
              <li class="no-border header-logo">
                <a href="index.html"><img src="img/logo.png" alt="logo" width="60"></a>
              </li>
              <li><a href="index.html">Home</a></li>
              <li><a href="billetterie.html">Billetterie</a></li>
              <li><a href="conférences.html">Conférences</a></li>
              <li><a href="expositions.html">Expositions</a></li>
              <li><a href="contact.html" class="selected-page">Contact</a></li>
            </ul>
          </div>
          </nav>
    </header>
    

    <div class="main">
      <h2>Contactez Nous</h2>
      <div class="contact-container">
        <div class="form-container">
            <form action="" method="post">
              <input type="text" placeholder="Nom*">
              <input type="email" placeholder="Email*">
              <input type="text" placeholder="Sujet">
              <textarea placeholder="Message*"></textarea>
              <input type="submit" value="Envoyer">
            </form>
        </div>
      
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11050.311552775858!2d6.1270773!3d46.1790578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc544bba879a22551!2sRamada%20Encore%20Geneva!5e0!3m2!1sen!2sdz!4v1568889333636!5m2!1sen!2sdz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>      
        </div>
    </div>
    </div>

    <footer>
      <div class="footer-info-container">
        <div class="map">
          <div class="footer-info-title"> <i class="fas fa-map-marked-alt"></i> Map</div>
          <address>8017 Cedar Lane Land O Lakes, FL 34639</address>
        </div>
        <div class="phone">
          <div class="footer-info-title"> <i class="fas fa-phone"></i> Phone</div>
          <p class="phone-number">+06 2322 682 44 89</p>
          <p class="phone-number">+06 2312 682 45 90</p>
        </div>
        <div class="email">
          <div class="footer-info-title"> <i class="far fa-envelope"></i> E-mail</div>
          <p class="email">mail@BIM.com</p>
          <p class="email">mail@VGA.com</p>
        </div>
        <div class="social-media">
          <div class="footer-info-title"> <i class="fas fa-share-alt"></i> Social Media</div>
          <div class="social-media-items">
            <div class="social-media-item"> <i class="fab fa-twitter"></i> </div>
            <div class="social-media-item"> <i class="fab fa-facebook-f"></i> </div>
            <div class="social-media-item"> <i class="fab fa-instagram"></i> </div>
            <div class="social-media-item"> <i class="fab fa-google-plus-g"></i> </div>
            <div class="social-media-item"> <i class="fab fa-youtube"></i> </div>
            <div class="social-media-item"> <i class="fab fa-linkedin-in"></i> </div>
          </div>
        </div>
      </div>
      <div class="all-right">
          © 2019 BIM DAY GVA. All Rights Reserved.
      </div>
    </footer>

    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/plugins/jquery.jqia.scrollTo.js"></script>
    <script src="js/plugins/jquery.jqia.slickNav.js"></script>
    <script src="js/plugins/jquery.jqia.slideShow.js"></script>


    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="js/vendor/gallery/lightgallery-all.min.js"></script>
    <script src="js/vendor/gallery/jquery.mousewheel.min.js"></script>

    <script src="js/contact.js"></script>
  </body>
</html>
