<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BIM DAY GVA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <link href="styles/vendor/lightgallery.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/home.css">
    <script src="https://kit.fontawesome.com/38159abd34.js"></script>
  </head>

  <body>
    <header>
        <nav>
          <div class="nav-container">
            <ul class="nav-bar">
              <li class="no-border header-logo">
                <a href="index.html"><img src="img/logo.png" alt="logo" ></a>
              </li>
              <li><a href="index.html" class="selected-page">Home</a></li>
              <li><a href="billetterie.html">Billetterie</a></li>
              <li><a href="conférences.html">Conférences</a></li>
              <li><a href="expositions.html">Expositions</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          </nav>
    </header>
    

    <div class="slider-overlay"></div>
    <div class="header-slider">

      <div class="slide header-slide" data-slide-number="1">
        <img src="img/slider1.jpg" alt="slide">
        <div class="slide-caption">
          <p class="date">16 Janvier 2020</p>
          <h2><span class="green-word">BIM</span> DAY GVA</h2>
          <div class="info">
            <div class="seats"><i class="fa fa-chair"></i> 200 Personnes</div>
            <div class="speakers"><i class="fa fa-users"></i> 12 Speakers</div>
            <div class="position"><i class="fa fa-map-marker-alt"></i> Genève, Switzerland</div>
          </div>
        </div>
      </div>

      <div class="slide header-slide" data-slide-number="2">
        <img src="img/slider2.jpg" alt="slide">
        <div class="slide-caption">
          <h2>Le premier salon entièrement dédié au <span class="green-word">BIM</span></h2>
        </div>
      </div>

    </div>
  </div>
  
  <div class="timer-section">
    <div class="timer-continer">
        <div id="timer-text">
          <div class="days"> <div class="days-number"></div> <div class="label">Jours</div> </div>
          <div class="hours"> <div class="hours-number"></div> <div class="label">Heures</div> </div>
          <div class="minutes"> <div class="minutes-number"></div> <div class="label">Minutes</div> </div>
          <div class="seconds"> <div class="seconds-number"></div> <div class="label">Secondes</div> </div>
        </div>
      </div>
  </div>

    <div class="main">

      <div class="about-section">
        <div class="about-text">
            <h3>A propos de l'event</h3>
            <p class="welcome">Bienvenue dans Le salon BIM DAY GVA</p>
            <p class="about-text">Le salon BIM DAY GVA aura lieu le 16 Janvier 2020 au Centre de conférence RAMADA ENCORE GENEVE à La Praille.
              Le premier salon entièrement dédié au BIM à Genève offrira différents espaces à ses visiteurs :
            </p>
            <h5 class="about-sub-title">Espace conférences :</h5> 
            <p class="about-text">Dans une salle d’une capacité de 200 personnes, des conférenciers de renom, 
              spécialisés dans le domaine du BIM, interviendront, tout au long de la journée pour partager leurs 
              expertises et leurs expériences. Quelques leaders de la construction en Suisse présenteront des retours 
              d’expériences sur des ouvrages réalisés à l’intérieur du territoire grâce à l’utilisation du BIM.
            </p>
            <h5 class="about-sub-title">Espace exposants :</h5> 
            <p class="about-text">Sur une surface de 1250 m², les visiteurs pourront découvrir les stands des 
              principales solutions logicielles, des nouvelles solutions numériques, des outils innovants, des offres
              d’accompagnement au passage au BIM et des offres de formation. Un espace Atelier ouvert sur l’espace stand, 
              permettra aux exposants de présenter leurs logiciels ou applications et de faire des démonstrations.
            </p>
        </div>
        <div class="about-multi">
            <img src="img/affiche.png" alt="IBM-annonce">
        </div>
      </div>

      <div class="video-introduction">
          <iframe src="https://player.vimeo.com/video/357185043?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      
      
      <div class="speakers-section">
        <h2 class="main-title">Speakers</h2>
        <div class="speakers-container">

          <div class="speaker-item">
            <div class="speaker-img" style="background-image: url(img/speakers/speaker1.jpg)"> 
              <div class="speaker-subject">
                  Création de systèmes de représentation de l'information
              </div> 
            </div>
            <div class="speaker-info">
              <div class="date-time"> 
                  <div class="date"><i class="fa fa-calendar-alt"></i> 16 Janvier 2020</div>
                  <div class="time"><i class="fa fa-clock"></i> 17:00</div>
              </div>
              <div class="name-job">
                <p class="name">Karl Thompson</p>
                <p class="job">Lead Marketing</p>
              </div>
              <div class="social-media">
                <div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
                <div class="social-media-item"><i class="fab fa-twitter"></i></i></div>
                <div class="social-media-item"><i class="fab fa-google-plus-g"></i></div>
                <div class="social-media-item"><i class="fab fa-instagram"></i></div>
                <div class="social-media-item"><i class="fa fa-link"></i></div>
              </div>
            </div>
          </div>

          <div class="speaker-item">
            <div class="speaker-img" style="background-image: url(img/speakers/speaker2.jpg)"> 
              <div class="speaker-subject">
                  le future de l'intelligence artificielle
              </div> 
            </div>
            <div class="speaker-info">
              <div class="date-time"> 
                  <div class="date"><i class="fa fa-calendar-alt"></i> 16 Janvier 2020</div>
                  <div class="time"><i class="fa fa-clock"></i> 19:00</div>
              </div>
              <div class="name-job">
                <p class="name">Orlina Marine</p>
                <p class="job">Designer Digitale</p>
              </div>
              <div class="social-media">
                <div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
                <div class="social-media-item"><i class="fab fa-twitter"></i></i></div>
                <div class="social-media-item"><i class="fab fa-google-plus-g"></i></div>
                <div class="social-media-item"><i class="fab fa-instagram"></i></div>
                <div class="social-media-item"><i class="fa fa-link"></i></div>
              </div>
            </div>
          </div>

          <div class="speaker-item">
            <div class="speaker-img" style="background-image: url(img/speakers/speaker3.jpg)"> 
              <div class="speaker-subject">
                  réalité augmentée vs realite virtuelle
              </div> 
            </div>
            <div class="speaker-info">
              <div class="date-time"> 
                  <div class="date"><i class="fa fa-calendar-alt"></i> 17 Janvier 2020</div>
                  <div class="time"><i class="fa fa-clock"></i> 18:00</div>
              </div>
              <div class="name-job">
                <p class="name">Lola Martine</p>
                <p class="job">Developpeur des Ventes</p>
              </div>
              <div class="social-media">
                <div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
                <div class="social-media-item"><i class="fab fa-twitter"></i></i></div>
                <div class="social-media-item"><i class="fab fa-google-plus-g"></i></div>
                <div class="social-media-item"><i class="fab fa-instagram"></i></div>
                <div class="social-media-item"><i class="fa fa-link"></i></div>
              </div>
            </div>
          </div>

          <div class="speaker-item">
            <div class="speaker-img" style="background-image: url(img/speakers/speaker1.jpg)"> 
              <div class="speaker-subject">
                  Création de systèmes de représentation de l'information
              </div> 
            </div>
            <div class="speaker-info">
              <div class="date-time"> 
                  <div class="date"><i class="fa fa-calendar-alt"></i> 17 Janvier 2020</div>
                  <div class="time"><i class="fa fa-clock"></i> 20:00</div>
              </div>
              <div class="name-job">
                <p class="name">Karl Thompson</p>
                <p class="job">Lead Marketing</p>
              </div>
              <div class="social-media">
                <div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
                <div class="social-media-item"><i class="fab fa-twitter"></i></i></div>
                <div class="social-media-item"><i class="fab fa-google-plus-g"></i></div>
                <div class="social-media-item"><i class="fab fa-instagram"></i></div>
                <div class="social-media-item"><i class="fa fa-link"></i></div>
              </div>
            </div>
          </div>

          <div class="speaker-item">
            <div class="speaker-img" style="background-image: url(img/speakers/speaker2.jpg)"> 
              <div class="speaker-subject">
                  Création de systèmes de représentation de l'information
              </div> 
            </div>
            <div class="speaker-info">
              <div class="date-time"> 
                  <div class="date"><i class="fa fa-calendar-alt"></i> 18 Janvier 2020</div>
                  <div class="time"><i class="fa fa-clock"></i> 17:00</div>
              </div>
              <div class="name-job">
                <p class="name">Karl Thompson</p>
                <p class="job">Lead Marketing</p>
              </div>
              <div class="social-media">
                <div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
                <div class="social-media-item"><i class="fab fa-twitter"></i></i></div>
                <div class="social-media-item"><i class="fab fa-google-plus-g"></i></div>
                <div class="social-media-item"><i class="fab fa-instagram"></i></div>
                <div class="social-media-item"><i class="fa fa-link"></i></div>
              </div>
            </div>
          </div>

          <div class="speaker-item">
            <div class="speaker-img" style="background-image: url(img/speakers/speaker3.jpg)"> 
              <div class="speaker-subject">
                  Création de systèmes de représentation de l'information
              </div> 
            </div>
            <div class="speaker-info">
              <div class="date-time"> 
                  <div class="date"><i class="fa fa-calendar-alt"></i> 16 Janvier 2020</div>
                  <div class="time"><i class="fa fa-clock"></i> 17:00</div>
              </div>
              <div class="name-job">
                <p class="name">Karl Thompson</p>
                <p class="job">Lead Marketing</p>
              </div>
              <div class="social-media">
                <div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
                <div class="social-media-item"><i class="fab fa-twitter"></i></i></div>
                <div class="social-media-item"><i class="fab fa-google-plus-g"></i></div>
                <div class="social-media-item"><i class="fab fa-instagram"></i></div>
                <div class="social-media-item"><i class="fa fa-link"></i></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="gallery-section">
        <h2 class="main-title">Gallery</h2>
        <div class="gallery-container">
          
              <ul id="lightgallery" class="list-unstyled row">
                <li  data-responsive="img/1-375.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="img/gallery/1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                    <a href="">
                        <img class="img-responsive" src="img/gallery/thumb-1.jpg">
                    </a>
                </li>
                <li  data-responsive="img/2-375.jpg 375, img/2-480.jpg 480, img/2.jpg 800" data-src="img/gallery/2.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                    <a href="">
                        <img class="img-responsive" src="img/gallery/thumb-2.jpg">
                    </a>
                </li>
                <li  data-responsive="img/13-375.jpg 375, img/13-480.jpg 480, img/13.jpg 800" data-src="img/gallery/3.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                    <a href="">
                        <img class="img-responsive" src="img/gallery/thumb-3.jpg">
                    </a>
                </li>
                <li  data-responsive="img/4-375.jpg 375, img/4-480.jpg 480, img/4.jpg 800" data-src="img/gallery/4.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                    <a href="">
                        <img class="img-responsive" src="img/gallery/thumb-4.jpg">
                    </a>
                </li>
                <li  data-responsive="img/4-375.jpg 375, img/4-480.jpg 480, img/4.jpg 800" data-src="img/gallery/5.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                  <a href="">
                      <img class="img-responsive" src="img/gallery/thumb-5.jpg">
                  </a>
               </li>
               <li  data-responsive="img/4-375.jpg 375, img/4-480.jpg 480, img/4.jpg 800" data-src="img/gallery/6.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                <a href="">
                    <img class="img-responsive" src="img/gallery/thumb-6.jpg">
                </a>
              </li>
              <li  data-responsive="img/4-375.jpg 375, img/4-480.jpg 480, img/4.jpg 800" data-src="img/gallery/7.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                <a href="">
                    <img class="img-responsive" src="img/gallery/thumb-7.jpg">
                </a>
              </li>
              <li  data-responsive="img/4-375.jpg 375, img/4-480.jpg 480, img/4.jpg 800" data-src="img/gallery/8.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                <a href="">
                    <img class="img-responsive" src="img/gallery/thumb-8.jpg">
                </a>
              </li>
            </ul>

        </div>
      </div>

      <div class="sponsors-section">
        <h2 class="main-title">Sponsors</h2>
        <div class="sponsors-container">
          <div class="sponsor-item">
            <img src="img/sponsors/1.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/10.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/2.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/3.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/4.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/5.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/6.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/7.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/8.png" alt="sponsor">
          </div>
          <div class="sponsor-item">
            <img src="img/sponsors/9.png" alt="sponsor">
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-info-container">
        <div class="map">
          <div class="footer-info-title"> <i class="fas fa-map-marked-alt"></i> Map</div>
          <address>8017 Cedar Lane Land O Lakes, FL 34639</address>
        </div>
        <div class="phone">
          <div class="footer-info-title"> <i class="fas fa-phone"></i> Phone</div>
          <p class="phone-number">+06 2322 682 44 89</p>
          <p class="phone-number">+06 2312 682 45 90</p>
        </div>
        <div class="email">
          <div class="footer-info-title"> <i class="far fa-envelope"></i> E-mail</div>
          <p class="email">mail@BIM.com</p>
          <p class="email">mail@VGA.com</p>
        </div>
        <div class="social-media">
          <div class="footer-info-title"> <i class="fas fa-share-alt"></i> Social Media</div>
          <div class="social-media-items">
            <div class="social-media-item"> <i class="fab fa-twitter"></i> </div>
            <div class="social-media-item"> <i class="fab fa-facebook-f"></i> </div>
            <div class="social-media-item"> <i class="fab fa-instagram"></i> </div>
            <div class="social-media-item"> <i class="fab fa-google-plus-g"></i> </div>
            <div class="social-media-item"> <i class="fab fa-youtube"></i> </div>
            <div class="social-media-item"> <i class="fab fa-linkedin-in"></i> </div>
          </div>
        </div>
      </div>
      <div class="all-right">
          © 2019 BIM DAY GVA. All Rights Reserved.
      </div>
    </footer>

    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/plugins/jquery.jqia.scrollTo.js"></script>
    <script src="js/plugins/jquery.jqia.slickNav.js"></script>
    <script src="js/plugins/jquery.jqia.slideShow.js"></script>


    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="js/vendor/gallery/lightgallery-all.min.js"></script>
    <script src="js/vendor/gallery/jquery.mousewheel.min.js"></script>

    <script src="js/home.js"></script>
  </body>
</html>
