div.main{
  div.container{
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
    div.vous-contact-form{
      display: flex;
      align-items: flex-start;
      div.contact-title{
        margin-right: 15px;
        h3{
          font-size: 26px;
        }
      }
      div.vous-form-container{
        margin-right: 15px;
        form{
          select{
            color: black;
            width: 120px;
          }
        }
      }
      div.contact-form-container{
        flex: 1;
        form{
          input, textarea{
            padding: 12px 8px;
          }
          div{
            display: flex;
            justify-content: space-between;
            width: 100%;
            input{
              width: 150px;
              background-color: inherit;
              border: white solid 1px;
              border-radius: 5px;
              &::placeholder{
                color: white;
              }
            }
          }
          textarea{
            width: 546px;
            margin-top: 15px;
            height: 80px;
            background-color: inherit;
            border: white solid 1px;
            border-radius: 5px;
            &::placeholder{
              color: white;
            }
          }
        }
      }
    }
    div.map-info-pratique{
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      div.map{

      }
      div.info-pratique{
        width: 350px;
        address{
          margin-bottom: 30px;
        }
        h4{
          margin-bottom: 10px;
        }
        h5{
          font-size: 17px;
        }
        h6{
          font-size: 16px;
        }
      }
    }
  }
}

     