div.main{
  div.container{
    padding: 60px 0;
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    div.intro-video{
      width: 750px;
      video{
        width: 100%;
      }
    }
    div.home-info{
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div.intro-img{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 300px;
        margin-bottom: 20px;
        img{
        }
      }
      p.intro-text{
        width: 300px;
        font-size: .85em;
      }
    }
  }
}
