html{
  font-family: "Montserrat";
  color: $dark-gray; 
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img{
  max-width: 100%;
  vertical-align: middle;
}
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a{
  text-decoration: none;
  display: inline-block;
}
p{
  line-height: 25px;
}
h2,h3,h4,h5,h6,p{
  margin-top: 0;
  margin-bottom: 0;
}
ul.nav-links-container{
  text-transform: uppercase;
}

