.white-nav-bar{
    background-color: $logo-blue;
  }
  .black-nav-bar{
    background-color: #f0f0f0;
  }
  .rotate-bolt{
    transform: rotate(-180deg);
  }
  div.fix-bolt{
    position: absolute;
    &.top-right{
      top: 0;
      right: 0;
    }
    &.top-left{
      top: 0;
      left: 0;
    }
    &.bot-right{
      bottom: 0;
      left: 0;
    }
    &.bot-left{
      bottom: 0;
      right: 0;
    }
    &.top-middle{
      top: -30px;
      left: 45%;
    }
    &.bottom-middle{
      bottom: 0;
      left: 40%;
    }
  }