div.awards-section{
  padding: 70px 0;
  background-color: $light-gray;
  div.awards-container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $first-break){
      width: 970px;
    }
    @media screen and (max-width: $second-break){
      width: 750px;
      justify-content: space-around;
    }
    @media screen and (max-width: $third-break){
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  div.awards-items{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 50px 30px;
      @import "../components/award-item";
      @media screen and (max-width: $third-break){
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 30px;
      }
    }
    div.awards-numbers{
      color: white;
      width: 340px;
      font-size: 30px;
      font-weight: 700;
      padding: 60px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: $first-break){
        width: auto;
      }
      @media screen and (max-width: $second-break){
        width: 200px;
      }
      @media screen and (max-width: $third-break){
        width: 95%;
        padding: 60px 0;
      }
      span.award-icon{
        font-size: 50px;
      }
      h3{
        font-size: 30px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}