.white-nav-bar{
  background-color: white;
}
.black-nav-bar{
  background-color: #f0f0f0;
}
.section-title{
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
}
.blue-text{
  color: $main-blue;
}
.blue-background{
  background-color: $main-blue;
}
.white-text{
  color: white;
}
.black-faq-arrow{
  transform: rotate(180deg);
  color: black;
}
.orange-faq-arrow{
  transform: rotate(0);
  color: orange;
}
