div.services-section{
  padding: 70px 0;
  background-color: $light-gray;
  div.services-container{
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: 182px 182px;
    justify-content: center;
    @media screen and (max-width: $first-break){
      width: 970px;
      grid-template-columns: repeat(3, 310px);
      grid-template-rows: 204px 204px;
      grid-gap: 20px 10px;
    }
    @media screen and (max-width: $second-break){
      width: 750px;
      grid-template-columns: repeat(3, 220px);
      grid-template-rows: 287px 287px;
      grid-gap: 30px 20px;
    }
    @media screen and (max-width: $third-break){
      width: 95%;
      display: flex;
      flex-direction: column;
    }
    @import "../components/_service-item";
  }
}