div.featured-work-item{
  position: relative;
  &:hover{
    div.feature-layer{
      display: flex;
    }
  }
  img{
    vertical-align: middle;
    width: 100%;
  }
  div.feature-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 188, 212, .8);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    div.feature-caption{
      color: white;
      text-align: center;
      h4{
        font-size: 1.2em;
      }
      span{
        font-size: .9em;
        font-weight: bold;
      }
    }
  }
}