div.slider-overlay{
  background-color: $main-blue;
  opacity: .3;
  position: absolute;
  top: 109px;
  left: 0;
  width: 100%;
  z-index: 999;
}

div.header-slider{
  width: 100%;
  div.slide{
    width: 100%;
    img{
      width: 100%;
      vertical-align: top;
    }
    div.slide-caption{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 30%;
      left: 50%;
      z-index: 9999;
      transform: translate(-50%, -50%);
      @media screen and (max-width: $third-break){
        width: 90%;
      }
      h2{
        text-align: center;
        color: white;
        padding: 25px 30px;
        font-size: 6em;
        text-shadow: 4px 4px black;
        margin-bottom: 25px;
        max-width: 90%;
        @media screen and (max-width: 990px){
          font-size: 2.6em;
        }
        @media screen and (max-width: 870px){
          font-size: 2.2em;
        }
        @media screen and (max-width: 550px){
          font-size: 1.9em;
          padding: 5px 10px;
        }
        @media screen and (max-width: 450px){
          font-size: 1.7em;
        }
        @media screen and (max-width: 400px){
          font-size: 1.5em;
        }
        @media screen and (max-width: 350px){
          font-size: 1.2em;
        }
        @media screen and (max-width: 270px){
          font-size: 1em;
        }
      }
    }
  }
}