.bold{
  font-weight: bold;
}
.green-link,
.white-link{
  border-radius: 50px;
  padding: 12px 16px;
  font-size: .7em;
}
.green-link{
  color: white;
  background-color: $main-green;
  transition: background-color .4s;
  &:hover{
    background-color: $hover-green;
  }
}
.white-link{
  color: black;
  background-color: white;
  transition: color .4s,background-color .4s;
  &:hover{
    color: white;
    background-color: black;
  }
}
h4.section-header{
  text-align: center;
  font-size: 1.1em;
  margin: 10px 0;
}
div.middle-underline{
  border: black solid 2px;
  width: 60px;
  margin: 0 auto;
}
/*****************************/
#logo{
  margin-left: 70px;
  @media screen and (max-width: 840px) {
    margin-left: auto;
  }
  @media screen and (max-width: 780px) {
    margin-left: 20px;
    margin-right: auto;
  }
  display: flex;
  align-items: center;
  img{
    padding: 10px 0;
    cursor: pointer;
  }
}
/*Header*/
#slick_nav_jquery_jqia{
  @media screen and (max-width: 780px) {
    display: block;
  }
  button.slick-nav-but{
    background-color: $main-green;
  }
  div.links-container{
    background-color: white;
    box-shadow: 1px 1px 0 0 rgba(150, 150, 150, .5),
                -1px 0 0 0 rgba(150, 150, 150, .5);
    a{
      color: black;
      border-bottom: rgba(150, 150, 150, .5) solid 1px;
      font-family: $main-font, sans-serif;
      font-size: .85em;
      padding: 15px 0;
      &.selected-link{
        background-color: white;
      }
      &:hover{
        background-color: white;
      }
    }
  }
  
}
header{
width: 100%;
height: 680px;
@media screen and (max-width: 1170px) {
  height: 500px;
}
@media screen and (max-width: 780px) {
  height: 360px;
}
  /*Header Nav*/
  nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    transition: background-color .4s;
    &.white-nav-bar{
      background-color: inherit;
      box-shadow: none;
    }
    &.black-nav-bar{
      background-color: white;
      box-shadow: 0 1px 5px 1px rgba(150, 150, 150, .5);
    }
    ul{
      display: flex;
      margin: 0 60px 0 auto;
      @media screen and (max-width: 780px) {
        display: none;
      }
      li{
        a{
          color: white;
          transition: color .4s;
          font-weight: 300;
          font-size: .8em;
          height: 100%;
          display: flex;
          align-items: center;
          margin-left: 45px;
          padding: 0 5px;
        }
      }
    }  
  }
  /*Header: Slideshow*/
  div.header-slideshow{
    position: relative;
    width: 100%;
    height: 100%;
    div.slideshow-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      @media screen and (max-width: 400px) {
        justify-content: flex-end;
      }
      span{
        font-size: .9em;
      }
      h2{
        font-size: 2.3em;
        font-weight: 800;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        @media screen and (max-width: 780px) {
          font-size: 1.8em;
        }
      }
      p{
        width: 500px;
        text-align: center;
        font-size: .8em;
        line-height: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: 780px) {
          width: 400px;
        }
        @media screen and (max-width: 400px) {
          width: 90%;
        }
      }
      a.green-link{
        @media screen and (max-width: 400px) {
          margin-bottom: 20px;
        }
      }
    }
    div.first-slideshow{
      background-image: url("../images/slide_01.jpg");
      background-size: cover;
      background-position:center;
    }
    div.second-slideshow{
      background-image: url("../images/slide_02.jpg");
      background-size: cover;
      background-position:center;
    }
    div.third-slideshow{
      background-image: url("../images/slide_03.jpg");
      background-size: cover;
      background-position:center;
    }
  }
}
/*Main*/
div.main{
  /*Main: What We Do*/
  div.what-we-do{
    padding: 100px 0 30px 0;
    background-color: $light-gray;
    div.our-services{
      width: 1170px;
      margin: 60px auto;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1200px) {
        width: 970px;
      }
      @media screen and (max-width: 990px) {
        display: grid;
        grid-template-columns: 345px 345px;
        grid-template-rows: 236px 236px;
        justify-content: center;
        grid-gap: 30px;
        width: 750px;
      }
      @media screen and (max-width: 780px) {
        display: flex;
        flex-direction: column;
        width: 95%;
      }
      div.service{
        width: 222px;
        padding: 30px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        box-shadow: 1px 1px 20px 1px rgba(150, 150, 150, .3);
        cursor: pointer;
        transition: background-color .4s, color .4s;
        @media screen and (max-width: 1200px) {
          width: 172px;
        }
        @media screen and (max-width: 990px) {
          width: 345px;
          padding: 30px 0;
        }
        @media screen and (max-width: 780px) {
          width: 100%;
          margin: 20px 0;
        }
        &:hover{
          background-color: $main-green;
          color: white;
        }
        h5{
          font-size: 1em;
          margin: 20px 0 10px 0;
        }
        p{
          font-weight: 400;
          font-size: .85em;
          line-height: 25px;
        }
      }
    }
  }
  
  /*Main: New Offers*/
  section.new-offers{
    background-image: url("../images/what-we-do-bg.png");
    background-size: cover;
    background-position:center;
    padding: 80px 0;
    div.section-container{
      width: 1170px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1200px) {
        width: 970px;
      }
      @media screen and (max-width: 990px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      article{
        @media screen and (max-width: 990px) {
          width: 80%;
          margin-bottom: 80px;
        }
        @media screen and (max-width: 780px) {
          width: 95%;
        }
        h4{
          color: white;
          font-size: 1.5em;
          width: 50%;
          @media screen and (max-width: 1200px) {
            width: 100%;
          }
        }
        p{
          color: white;
          font-weight: 300;
          line-height: 25px;
          font-size: .9em;
          @media screen and (max-width: 1200px) {
            width: 90%;
            font-size: .85em;
          }
          &:last-of-type{
            margin-bottom: 30px;
          }
        }
        a.white-link{
          margin-right: 15px;
        }
      }
      aside{
        @media screen and (max-width: 780px) {
          width: 95%;
        }
        img{
          @media screen and (max-width: 1200px) {
            width: 455px;
          }
          @media screen and (max-width: 990px) {
            width: 750px;
          }
          @media screen and (max-width: 780px) {
            width: 95%;
          }
        }
      }
    }
  }
  
  /*Main: Portfolio*/
  div.our-portfolio{
    padding-top: 80px;
    padding-bottom: 60px;
    ul.portfolio-filters{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 320px;
      margin: 60px auto 30px auto;
      @media screen and (max-width: 370px) {
        width: 220px;
      }
      li{
        font-size: .9em;
        cursor: pointer;
        &.selected-portfolio-filter{
          color: $main-green;
        }
        &:last-child{
          @media screen and (max-width: 370px) {
            margin: 20px auto 0 auto;
          }
        }
      }
    }
    div.protfolio-photos{
      width: 1170px;
      margin: 40px auto;
      display: grid;
      grid-template-columns: repeat(4, 270px);
      grid-template-rows: 230px 230px;
      grid-gap: 30px;
      @media screen and (max-width: 1200px) {
        width: 970px;
        grid-template-columns: repeat(4, 212px);
        grid-template-rows: 181px 181px;
      }
      @media screen and (max-width: 990px) {
        width: 750px;
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(4, 230px);
        justify-content: center;
      }
      @media screen and (max-width: 780px) {
        width: 570px;
      }
      @media screen and (max-width: 615px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      div.protfolio-photo{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 615px) {
          margin-bottom: 30px;
          height: 230px;
        }
        &:hover{
          div.green-area{
            opacity: .9;
          }
        }
        img{
          width: 270px;
          @media screen and (max-width: 1200px) {
            width: 212px;
          }
          @media screen and (max-width: 990px) {
            width: 270px;
          }
        }
        div.green-area{
          width: 270px;
          height: 230px;
          background-color: $main-green;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: opacity .5s;
          @media screen and (max-width: 1200px) {
            width: 212px;
            height: 181px;
          }
          @media screen and (max-width: 990px) {
            width: 270px;
            height: 230px;
          }
          i{
            font-size: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $main-green;
            background-color: white;
            border-radius: 50%;
            transition: color .4s,background-color .4s;
            &:hover{
              color: white;
              background-color: $hover-green;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  
  /*Main: Blog*/
  div.our-blog{
    background-image: url(../images/blog-bg.png);
    padding: 80px 0;
    h4.section-header{
      color: white;
    }
    div.middle-underline{
      border-color: white;
    }
    div.blog-posts{
      width: 1170px;
      margin: 60px auto;
      display: grid;
      justify-content: space-between;
      grid-template-columns: 570px 570px;
      grid-template-rows: 235px 235px;
      @media screen and (max-width: 1200px) {
        width: 970px;
        justify-content: start;
        grid-gap: 30px;
        grid-template-columns: 455px 455px;
        grid-template-rows: 175px 175px;
      }
      @media screen and (max-width: 990px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      div.blog-item{
        position: relative;
        cursor: pointer;
        &:focus{
          border: red solid 1px;
        }
        @media screen and (max-width: 990px) {
          margin-bottom: 40px;
        }
        div.blog-post-informations{
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba(0,0,0,.5);
          color: white;
          h4{
            margin-left: 20px;
            margin-bottom: 10px;
          }
          p{
            margin-left: 20px;
            font-size: .9em;
            @media screen and (max-width: 500px) {
              font-size: .8em;
            }
          }
        }
        div.blog-post-description{
          cursor: auto;
          width: 78%;
          background-color: white;
          z-index: 9999;
          padding: 20px 20px 40px 20px;
          line-height: 25px;
          position: fixed;
          top: 25%;
          left: 11%;
          display: none;
          box-shadow: 1px 1px 40px 1px rgba(100,100,100,1);
          p{
            margin: 0 20px;
            line-height: 25px;
            font-size: .8em;
            text-align: center;
            &:last-child{
              margin-top: 20px;
            }
          }
          div.close-post-description{
            width: 45px;
            height: 45px;
            margin: 10px auto 40px auto;
            color: white;
            background-color: $main-green;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: .9em;
          }
        }
        &:nth-child(1){
          grid-column: 1;
          grid-row: 1 / 2;
        }
        &:nth-child(2){
          grid-column: 2 / 2;
          grid-row: 1 / 1;
        }
        &:nth-child(3){
          grid-column: 2 / 2;
          grid-row: 2 / 2;
          align-self: end;
          @media screen and (max-width: 990px) {
            align-self: center;
          }
        }
      }
      div.big-blog-item{
        width: 570px;
        height: 470px;
        @media screen and (max-width: 1200px) {
          width: 455px;
          height: 380px;
        }
        @media screen and (max-width: 990px) {
          width: 720px;
          height: auto;
        }
        @media screen and (max-width: 780px) {
          width: 95%;
        }
        img{
          @media screen and (max-width: 1200px) {
            width: 455px;
          }
          @media screen and (max-width: 990px) {
            width: 720px;
          }
          @media screen and (max-width: 780px) {
            width: 100%;
          }
        }
      }
      div.small-blog-item{
        width: 570px;
        height: 220px;
        @media screen and (max-width: 1200px) {
          width: 455px;
          height: 175px;
        }
        @media screen and (max-width: 990px) {
          width: 720px;
          height: auto;
        }
        @media screen and (max-width: 780px) {
          width: 95%;
        }
        img{
          @media screen and (max-width: 1200px) {
          width: 455px;
          height: 175px;
         }
          @media screen and (max-width: 990px) {
            width: 720px;
            height: auto;
          }
          @media screen and (max-width: 780px) {
            width: 100%;
          }
        }
      }
    }
  }
  
  /*Main: Achievements*/
  div.achievements-container{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 80px 0;
    @media screen and (max-width: 1200px) {
      width: 970px;
      justify-content: center;
    }
    @media screen and (max-width: 990px) {
      width: 95%;
      display: grid;
      grid-template-columns: 330px 330px;
      grid-template-rows: 124px 124px;
      align-content: center;
      grid-gap: 30px;
    }
    @media screen and (max-width: 780px) {
      display: flex;
      flex-direction: column;
    }
    div.achievement-item{
      background-color: $light-gray;
      text-align: center;
      padding: 30px;
      box-shadow: 1px 1px 40px 1px rgba(100,100,100,.5);
      @media screen and (max-width: 1200px) {
        padding: 30px 5px;
        margin: 0 15px;
      }
      @media screen and (max-width: 990px) {
        margin: 0;
      }
      @media screen and (max-width: 780px) {
        width: 100%;
        margin-bottom: 20px;
      }
      div.counter{
        color: $main-green;
        width: 200px;
        font-weight: 700;
        font-size: 1.5em;
        margin-bottom: 13px;
        @media screen and (max-width: 1200px) {
          font-size: 1.3em;
        }
        @media screen and (max-width: 990px) {
          margin-left: auto;
          margin-right: auto;
          font-size: 1.5em;
        }
      }
      span{
        font-size: .9em;
        color: $dark-gray;
        @media screen and (max-width: 1200px) {
          font-size: .85em;
        }
        @media screen and (max-width: 780px) {
          font-size: .9em;
        }
      }
    }
  }
  
  /*Main: Contact Us*/
  div.contact-us{
    background-image: url("../images/contact-bg.png");
    background-size: cover;
    background-position:center;
    padding: 80px 0;
    h4.section-header{
      color: white;
    }
    div.middle-underline{
      border-color: white;
    }
    div.row{
      display: flex;
      width: 1170px;
      height: 320px;
      margin: 60px auto;
      @media screen and (max-width: 1200px) {
        width: 970px;
      }
      @media screen and (max-width: 1000px) {
        height: auto;
        width: 720px;
        flex-direction: column;
        align-content: center;
      }
      @media screen and (max-width: 780px) {
        width: 95%;
      }
      img{
        align-self: flex-start;
        @media screen and (max-width: 1200px) {
          width: 455px;
        }
        @media screen and (max-width: 1200px) {
          width: 455px;
        }
        @media screen and (max-width: 1000px) {
          width: 720px;
          margin-bottom: 30px;
        }
        @media screen and (max-width: 780px) {
          width: 100%;
        }
      }
      form{
        display: grid;
        grid-template-columns: 262px 262px;
        grid-template-rows: 50px 165px;
        justify-content: space-between;
        align-content: space-between;
        width: 585px;
        margin-left: 15px;
        @media screen and (max-width: 1200px) {
          width: 970px;
          grid-template-columns: 227px 227px;
          grid-template-rows: 50px 165px;
          margin-left: 20px;
        }
        @media screen and (max-width: 1000px) {
          display: flex;
          flex-direction: column;
          margin-left: 0;
          width: 720px;
        }
        @media screen and (max-width: 780px) {
          width: 100%;
        }
        & > *{
          @media screen and (max-width: 1000px) {
            margin-bottom: 20px;
          }
        }
        input,
        textarea{
          background-color: rgba(150, 150, 150, .2);
          border: none;
          color: white;
          &::placeholder{
            color: rgba(255,255,255, .5);
            font-size: .8em;
          }
          &::-moz-focus-inner {
            border: 0;
          }
          &:focus {
            outline: none;
          }
        }
        input{
          padding: 6px 12px 6px 15px;
          @media screen and (max-width: 1000px) {
            padding: 15px;
          }
        }
        textarea{
          height: 153px;
          padding: 12px 12px 6px 15px;
          resize: none;
          grid-column: 1 / 3;
        }
        button{
          margin: auto auto 0 0;
          padding: 15px 20px;
          font-size: .8em;
        }
      }
    }
  }
}

/*Footer*/
footer{
  border-top: rgba(150, 150, 150, .6) solid 1px;
  background-color: $footer-black;
  padding: 30px;
  div.row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 990px) {
      flex-direction: column;
      align-items: center;
    }
    p{
      color: white;
      font-size: .8em;
      text-align: center;
    }
    a{
      color: $red-footer-link;
    }
    div.social-media-links{
      a{
        background-color: $main-green;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        transition: background-color .4s;
        &:hover{
          background-color: $hover-green;
        }
        i{
          color: $footer-black;
        }
      }
    }
  }
}