div.main{
    padding: 80px 0;
    color: #242424;
    div.container{
        width: 1170px;
        margin: 0 auto;
        @media screen and (max-width: $first-break){
          width: 970px;
          flex-direction: column;
        }
        @media screen and (max-width: $second-break){
          width: 750px;
        }
        @media screen and (max-width: $third-break){
          width: 100%;
        }
        h2{
          text-align: center;
          font-size: 2.4em;
          margin-bottom: 60px;
        }
        div.form-contact{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          @media screen and (max-width: $third-break){
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          div.form{
            width: 35%;
            position: relative;
            box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, .1),
                    -1px -1px 15px 15px rgba(0, 0, 0, .1);
            background: url("../img/background/5.jpg") center;
            display: flex;
            align-items: center;
            padding: 20px;
            @media screen and (max-width: $second-break){
              width: 45%;
            }
            @media screen and (max-width: $third-break){
              width: 100%;
              margin-bottom: 40px;
              padding: 20px 0;
            }
            form{
              display: flex;
              flex-direction: column;
              width: 100%;
              font-weight: 1em;
              *{
                padding: 17px;
                margin-bottom: 30px;
              }
              input[type="text"], textarea, input[type="email"]{
                background-color: rgba(100, 100, 100, 0.4);
                border: none;
                color: white;
                &::placeholder{
                  color: white;
                }
              }
              input[type="submit"]{
                align-self: flex-start;
                padding: 12px 30px;
                font-weight: bold;
                color: white;
                background-color: $logo-blue;
                transition: background-color .5s;
                border: none;
                &:hover{
                  background-color: $logo-red;  
                }
              }
              textarea{
                height: 200px;
              }
            }
          }
          div.contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $first-break){
              width: 553px;
            }
            @media screen and (max-width: $second-break){
              width: 45%;
            }
            @media screen and (max-width: $third-break){
              width: 100%;
            }
            div.map{
              width: 100%;
              @media screen and (max-width: $second-break){
                position: relative;
                right: 60%;
                width: 200%;
              }
              @media screen and (max-width: $third-break){
                right: 0;
                width: 100%;
              }
              iframe{
                width: 100%;
              }
            }
            div.details{
              display: grid;
              grid-gap: 15px;
              grid-template-rows: 130px 130px;
              grid-template-columns: 340px 340px;
              @media screen and (max-width: $first-break){
                grid-template-columns: 260px 260px;
                margin-bottom: 40px;
              }
              @media screen and (max-width: $second-break){
                display: flex;
                flex-direction: column;
              }
              > div{
                display: flex;
                padding: 30px 0;
                @media screen and (max-width: $first-break){
                  flex-direction: column;
                  align-items: center;
                }
              }
              div.icon{
                margin-right: 15px;
                @media screen and (max-width: $first-break){
                  margin-right: 0;
                  margin-bottom: 10px;
                }
                i{
                  width: 40px;
                  height: 40px;
                  background-color: $logo-blue;
                  border-radius: 50%;
                  color: white;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              div.info{
                font-size: 1em;
                font-weight: bold;
                @media screen and (max-width: $first-break){
                  text-align: center;
                }
                h5{
                  font-size: .9em;
                  font-weight: normal;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
    }
}