<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BAHIA PLOMBERIE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" href="img/Logo.png"/>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Font -->
    <link rel="stylesheet" href="styles/a-propos.css">
    <link rel="stylesheet" href="styles/en-cours.css">
  </head>
  
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header>
      <nav>
       <div class="nav-container">
         <ul class="nav-bar">
          <li class="no-border header-logo">
            <a href="#"><img src="img/Logo-white.png" alt="logo" width="80px"></a>
          </li>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="a-propos.html" class="selected-page">A Propos</a></li>
          <li><a href="nos-services.html">Nos Services</a></li>
          <li><a href="nos-produits.html">Nos Produits</a></li>
          <li><a href="rejoignez-nous.html">Rejoignez Nous</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
       </div>
      </nav>
    </header>  
    
    <div class="main">
        <h1>Cette page est en cours ...</h1>
    </div>

    <footer>
      <div class="footer-container">
        <div>
          <div class="service-areas">
            <img src="img/Logo-white.png" alt="" width="100px">
            <p>SECTEURS DE SERVICE: Plomberie Sanitaire Es senia, Plast TIGRE Akid Lotfi, Tubes PP-R Maraval</p>
            <div class="social-media">
              <a href="#" class="social-media-link"><i class="fa fa-facebook"></i></a>
              <a href="#" class="social-media-link"><i class="fa fa-twitter"></i></a>
              <a href="#" class="social-media-link"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="social-media-link"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
          <div class="contact-information">
            <h4>Contactez Nous</h4>
            <p>Lotis bahi amar n°254
               31100 Es senia ORAN 31000.<br/>
               0553172068</p>
          </div>
        </div>
        <div>
          <div class="operation-hours">
            <h4>Heures D'Opération</h4>
            <ul>
              <li>Sam - 08h00 - 17h00</li>
              <li>Dim - 08h00 - 17h00</li>
              <li>Lun - 08h00 - 17h00</li>
              <li>Mar - 08h00 - 17h00</li>
              <li>Mer - 08h00 - 17h00</li>
              <li>Jeu - 09h00 - 16h00</li>
              <li>Ven - Fermé</li>
            </ul>
          </div>
          <div class="site-plan">
            <h4>Plan Du Site</h4>
            <ul>
              <li><a href="index.html">Accueil</a></li>
              <li><a href="nos-services.html">Nos Services</a></li>
              <li><a href="nos-produits.html">Nos Produits</a></li>
              <li><a href="a-propos.html">A Propos</a></li>
              <li><a href="rejoignez-nous.html">Rejoignez Nous</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-reserved">
        <p>Tous Droits Réservés | Droits D'auteur 2019 © SBP</p>
      </div>
    </footer>
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/plugins/silcknav.js"></script>
    <script src="js/a-propos.js"></script>
  </body>
</html>
