<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VITA OUEST</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="favicon.png"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="styles/produits.css">
  </head>

  <body>
    <div class="scroll-up"><i class="fas fa-chevron-up"></i></div>
    <header>
      <div class="header-container">
        <div class="logo"><a href="index.html"><img src="img/logo.png" alt="logo"></a></div>
        <div class="contact-header">0550 17 20 08 | 0561 99 61 66 </div>
      </div>
    </header>

    <nav class="white-nav-bar">
      <div class="nav-container">
        <a href="index.html" class="logo"><img src="img/logo.png" alt="logo"></a>
        <ul class="nav-links-container">
          <li><a href="index.html">Accueil</a></li>
          <li><a href="a-propos.html">A propos</a></li>
          <li class="drop-down-p">
            <a href="produits.html" class="selected">
              Produits
              <img src="img/bolts and nuts/slider-bolt.png" width="25px" class="drop-down-bolt left">
              <img src="img/bolts and nuts/slider-bolt.png" width="25px" class="drop-down-bolt right">
            </a>
            <ul class="drop-down-list">
              <li><a href="#">Vis<img src="img/produits/vis.png" width="40px"></a></li>
              <li><a href="#">Boulons<img src="img/produits/boulon.png" width="40px"></a></li>
              <li><a href="#">RONDELLES<img src="img/produits/rondelles.png" width="40px"></a></li>
              <li><a href="#">ECROUS<img src="img/produits/ecrou.png" width="40px"></a></li>
              <li><a href="#">AUTRES<img src="img/produits/autre.png" width="40px"></a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="main">
      <h2>Nos Produits</h2>
      <div class="small-screen-categories">
        <div class="title">
          <span><i class="fas fa-chevron-down"></i></span>
          <h4>Catégories</h4>
          <span><i class="fas fa-chevron-down"></i></span>
        </div>
        <ul>
          <li><a href="#" class="selected">Vis</a></li>
          <li><a href="#">Boulons</a></li>
          <li><a href="#">RONDELLES</a></li>
          <li><a href="#">ECROUS</a></li>
          <li><a href="#">AUTRES</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="products">
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_TRCC_DIN_603.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_a_metaux_tete_cylindrique_DIN_84.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_a_metaux_tete_fraisee_DIN_963.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_a_tole_DIN_7981___DIN_7982.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_agglomere.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_auto_perceuse_tete_cylindrique_DIN_7504_M.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_auto_perceuse_tete_fraisee_DIN_7504_P.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Vis_auto_perceuse_tete_hexagonale_DIN_7504_K</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_auto_perceuse_tete_hexagonale_DIN_7504_K.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_hexagonale_DIN_931.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_hexagonale_EN14399-3.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_sans_tete_a_6_pans_creux_DIN_913.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis_tire-fond_tete_hexagonale_DIN_571.png" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
            <div class="product-item">
              <a href="">
                <p class="product-name">Nom du Produit</p>
                <div class="product-pic"><img src="img/produits/vis/Vis cylindrique a 6 pans creux DIN 912.gif" width="240px"></div>
                <div class="detail-layer">Detail</div>
              </a>
            </div>
        </div>

        <div class="categories">
          <h4>Catégories</h4>
          <ul>
              <li><a href="#" class="selected"><img src="img/produits/vis.png" width="40px">Vis</a></li>
              <li><a href="#"><img src="img/produits/boulon.png" width="40px">Boulons</a></li>
              <li><a href="#"><img src="img/produits/rondelles.png" width="40px">RONDELLES</a></li>
              <li><a href="#"><img src="img/produits/ecrou.png" width="40px">ECROUS</a></li>
              <li><a href="#"><img src="img/produits/autre.png" width="40px">AUTRES</a></li>
          </ul>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="contact-heures">
          <div class="contact">
            <h4>CONTACT</h4>
            <div class="container">
              <div class="adress">
                <div class="icon"><i class="fas fa-location-arrow"></i></div>
                <h5>Adresse</h5>
                <address>siege social : 03, Bd. Périphérique,09 Chemin Vicinal, Petit Lac Oran - Oran</address>
              </div>
              <div class="phone">
                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                <h5>Téléphone</h5>
                <p>0561 99 61 66</p>
                <p>0550 17 20 08</p>
              </div>
              <div class="fax">
                <div class="icon"><i class="fas fa-fax"></i></div>
                <h5>Fax</h5>
                <p>041 45 50 56</p>
              </div>
              <div class="email">
                <div class="icon"><i class="far fa-envelope"></i></div>
                <h5>Email</h5>
                <p>Email : vitaouest@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="heures">
            <div class="fix-bolt top-middle"><img src="img/bolts and nuts/hang.png" width="75px"></div>
            <h4>HEURES D'OPÉRATION</h4>
            <div class="main-hours">
              <div class="icon"><i class="far fa-clock"></i></div>
              <p>Samedi - Jeudi</p>
              <p>8:00 - 19:00</p>
            </div>
            <div class="exeption">
              <div class="icon"><i class="far fa-clock"></i></div>
              <p>Vendredi</p>
              <p>15:00 - 19:00</p>
            </div>
          </div>
        </div>
  
        <div class="plan-media">
          <div class="plan">
            <div class="plan-site">
              <h4>PLAN DU SITE</h4>
              <ul>
                <li><i class="fas fa-angle-right"></i><a href="index.html">Accueil</a></li>
                <li><i class="fas fa-angle-right"></i><a href="a-propos.html">A Propos</a></li>
                <li><i class="fas fa-angle-right"></i><a href="produits.html">Produits</a></li>
                <li><i class="fas fa-angle-right"></i><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="produits">
              <h4>NOS PRODUITS</h4>
              <ul>
                <li><i class="fas fa-angle-right"></i><a href="produits.html">Boulons</a></li>
                <li><i class="fas fa-angle-right"></i><a href="produits.html">Rondelles</a></li>
                <li><i class="fas fa-angle-right"></i><a href="produits.html">Ecrous</a></li>
                <li><i class="fas fa-angle-right"></i><a href="produits.html">Autres</a></li>
              </ul>
            </div>
          </div>
          <div class="logo-media">
            <div class="logo"> <img src="img/logo.png"></div>
            <div class="media">
              <div class="fix-bolt top-middle"><img src="img/bolts and nuts/3-.png" width="35px"></div>
              <div class="fix-bolt bottom-middle"><img src="img/bolts and nuts/3-.png" width="35px"></div>
              <a href="#" class="social-media-link"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social-media-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-media-link"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="social-media-link"><i class="fab fa-google-plus-g"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/plugins/jquery.jqia.scrollTo.js"></script>
    <script src="js/plugins/jquery.jqia.slickNav.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/slickNav.js"></script>
    <script src="js/products.js"></script>
  </body>
</html>
