$main-blue: #00bcd4;
$main-gray: #414141;
/**********************************************************************************/
*{
  margin: 0;
}
body{
  color: $main-gray;
  font-family: "open sans";
}
a{
  color: $main-gray;
  text-decoration: none;
}
img{
  max-width: 100%;
}
ul{
  list-style: none;
  padding-left: 0;
}
.user-button{
  border: black solid 1px;
  width: 130px;
}
/**********************************************************************************/
header{
  nav{
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: 1px 0 5px 5px rgba(150, 150, 150, .5);
    div.nav-container{
      width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div.logo-container{
        
      }
      div.login-container{
        display: flex;
        div{
          
        }
      }
    }
  }
}
div.main-section{
  margin-top: 62px;
  padding: 60px 0;
  div.blog-container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    aside{
      width: 330px;
      margin-right: 15px;
      >:not(:last-child){
        margin-bottom: 30px; 
      }
      h4{
        margin-bottom: 20px;
        font-size: 1em;
        border-bottom: rgba(150, 150, 150, .3) solid 1px;
        padding: 5px 0;
      }
      div.search-container{
        width: 100%;
        input{
          width: calc(100% - 27px);
          padding: .5em 12px;
          font-size: .92em;
          font-family: "Montserrat";
          border: rgba(150, 150, 150, .5) solid 1px;
          border-radius: 4px;
          transition: border-color .3s,box-shadow .3s;
          &:focus{
            border-color: $main-blue;
            outline: none;
            box-shadow: 1px 1px 5px 1px rgba(150, 150, 150, .3),
                       -1px -1px 5px 1px rgba(150, 150, 150, .3);
          }
          &::placeholder{
            opacity: .6;
          }
        }
      }
      div.categories-count-container{
        ul.categories-count{
          font-weight: 100;
          font-size: .95em;
          li.category-count{
            margin-bottom: 15px;
          }
        }
      }
    }
    div.posts-container{
      width: 750px;
      div.post-item{
        h3.post-title{

        }
        div.post-image{
          img{
            
          }
        }
        p.post-description{

        }
        div.post-infos{
          display: flex;
        }
      }
    }
  }
}